<!DOCTYPE html>
<html data-lang="{{lang}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{{#if lang}}
			<title>{{translate translations.SEO.siteTitle lang}}</title>
			{{#if shareDescription}}
				<meta name="description" content="{{shareDescription}}">
			{{else}}
				<meta name="description" content="{{translate translations.SEO.siteDescription lang}}">
			{{/if}}
		{{else}}
			<title>Error!</title>
			<meta name="description" content="Something went wrong.">
		{{/if}}

		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

		<!-- ///// - FACEBOOK OPEN GRAPH -  ///// -->
		<meta property="fb:app_id" content="1153564961411142"/>
		{{#if shareImg}}<meta property="og:image" content="{{shareImg}}"/>{{/if}}
		{{#if shareUrl}}<meta property="og:url" content="{{shareUrl}}"/>{{/if}}
		{{#if shareTitle}}<meta property="og:title" content="{{shareTitle}}"/>{{/if}}
		{{#if shareDescription}}
			<meta property="og:description" content="{{shareDescription}}">
		{{else}}
			<meta property="og:description" content="{{translate translations.SEO.siteDescription lang}}">
		{{/if}}
		<meta property="og:site_name" content="{{translate translations.SEO.siteTitle lang}}"/>
		<meta property="og:type" content="website"/>
		<!-- ///// - FACEBOOK OPEN GRAPH -  ///// -->

		<!-- ///// - TWITTER CARDS -  ///// -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@consorzioopmn" />
		<meta name="twitter:creator" content="@consorzioopmn" />
		{{!-- {{#if shareUrl}}<meta name="twitter:url" content="{{shareUrl}}">{{/if}} --}}
		{{!-- {{#if shareTitle}}<meta name="twitter:title" content="{{shareTitle}}">{{/if}} --}}
		{{#if shareDescription}}
			<meta name="twitter:description" content="{{shareDescription}}">
		{{else}}
			<meta name="twitter:description" content="{{translate translations.SEO.siteDescription lang}}">
		{{/if}}
		{{!-- {{#if shareImg}}<meta name="twitter:image" content="{{shareImg}}">{{/if}} --}}
		<!-- ///// - TWITTER CARDS -  ///// -->

		<link rel="shortcut icon" href="/favicon.png" type="image/png">
		<link href="/styles/lightbox.min.css" rel="stylesheet">
		<link href="/styles/site.css" rel="stylesheet">

		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script src='https://www.google.com/recaptcha/api.js' async defer></script>

		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		{{#if prodEnv}}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-49975111-9', 'auto');
				ga('send', 'pageview');
			</script>
		{{/if}}

	</head>
	<body>
		{{> header}}

		{{> flashes}}

		{{{body}}}

		{{> footer}}

		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		<script src="/js/jquery.cloudinary/jquery.cloudinary.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="/js/sortable/Sortable.min.js"></script>
		<script src="/js/social-share/share.min.js"></script>
		<script src="/js/lightbox2/lightbox.min.js"></script>

		<script src="/js/store/store.everything.min.js"></script>

	    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>

		<script src="/js/main.min.js"></script>

		{{{isAdminEditorJS user}}}
	</body>
</html>
