<div class="jumbotron">
	<div class="container">
		<h1>500</h1>
		<p>Sorry, the site has encountered an error.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Back to home</a></p>
	</div>
</div>