<div class="container" id="aboutPage">
	<div class="row" id="mainText">
		<div class="col-md-8 col-md-offset-2">
			{{#ifeq lang 'it'}}
				<h2>Un progetto di valorizzazione delle eccellenze agroalimentari e storico culturali del territorio dell’oltre Po’ mantovano.</h2>
				<p>
					Il progetto <strong><em>Attrezzature Rurali di Comunità</em></strong>, costituito da questo website <em>Itinerari Oltrepò Mantovano</em> e dall’app gratuita <a href="#" target="blank" title="Scarica l'app"><em>Qui Oltrepò</em></a>, nasce dalla volontà di raccontare la storia locale dei luoghi e dei prodotti agricoli dell’Oltrepò Mantovano tramite testi, immagini, racconti audio e video, costruendo uno storytelling coinvolgente per gli utenti di riferimento, e fruibile direttamente nel contesto reale.
				</p>
				<p>
					Attraverso una raccolta dei contenuti che ha attivato la comunità locale per la creazione di una storia condivisa, è stato possibile costruire una narrazione localizzata delle eccellenze di questo territorio. La documentazione che è stata raccolta e predisposta è stata inserita in un archivio virtuale implementabile e aggiornabile, che permetterà di mantenere viva la memoria grazie ai nuovi strumenti digitali.
				</p>
				<p>
					Un progetto dunque che recupera soprattutto le tradizioni e le origini della cultura orale contadina per sedimentarla con strumenti innovativi e proporla ai cittadini, ai turisti a chiunque attraversi il nostro territorio.
				</p>
				<p>
					E’ questo un primo passo per non disperdere, soprattutto a partire dai prodotti agro alimentari, la cultura, le tradizioni e l’identità storica dell’Oltrepò mantovano.
				</p>
			{{else}}
				<h2>A project to valorise the agro-food and cultural heritage excellence of the Oltrepò Mantovano area.</h2>
				<p>
					The <strong><em>Rural Community Equipment Project</em></strong>, constituted by this website <em>Itineraries Oltrepò Mantovano</em> and the free app <a href="#" target="blank" title="Scarica l'app"><em>Qui Oltrepò</em></a>, is born from the will to tell the local history of the places and agricultural products of the Oltrepò Mantovano through texts, images, audio and video stories, building an engaging storytelling for referring users, and can be used directly in the real context.
				</p>
				<p>
					Through a collection of content that has enabled the local community to create a shared story, it was possible to build a localized narrative of the excellence of this territory. The documentation that has been collected and prepared has been inserted into a feasible and upgradable virtual archive that will keep your memory alive thanks to new digital tools.
				</p>
				<p>
					A project that recovers above all the traditions and origins of the rural oral culture to sediment it with innovative tools and to propose it to the citizens, tourists to anyone crossing our territory.
				</p>
				<p>
					This is a first step to not disperse, especially from the agri-food products, the culture, traditions and the historical identity of the Oltrepò mantovano.
				</p>
			{{/ifeq}}
		</div>
	</div>

	<div class="row" id="logos">
		<div class="col-md-4 col-md-offset-2" id="logoInLombardia">
			<a href="http://www.in-lombardia.it" target="blank" title="inLombardia">
				<img class="img-responsive" src="/images/logo-in-lombardia.png">
			</a>
		</div>
		<div class="col-md-4" id="logoColors">
			<a href="https://www.oltrepomantovano.eu/" target="blank" title="Consorzio Oltrepò Mantovano">
				<img class="img-responsive" src="/images/logo-consorzio-colors.png">
			</a>
		</div>
	</div>

	<div class="row" id="caption">
		<div class="col-md-8 col-md-offset-2">
			<p class="caption">
				{{#ifeq lang 'it'}}
					D.G. Agricoltura / Bando pubblico per la selezione di progetti presentati da enti pubblici per la valorizzazione del territorio lombardo per la promozione dei temi agricoli e le filiere agroalimentari locali. Anno 2016/2017. Soggetto capofila: Consorzio Oltrepò Mantovano. Progetto: Attrezzature Rurali di Comunità (ARC).
				{{else}}
					D.G. Agriculture / Public call for selection of projects submitted by public bodies for the promotion of the Lombardy area for the promotion of agricultural issues and the local food agro-food chains. Year 2016/2017. Head of the Consortium: Oltrepò Mantovano. Project: Community Rural Equipment (ARC).
				{{/ifeq}}
			</p>
		</div>
	</div>
</div>