<div id="appPage">
	<div class="container">
		<div class="row" id="titleAndStores">
			<div class="col-md-6">
				{{#ifeq lang 'it'}}
					<h1>
						Esplora il territorio dell’Oltrepò Mantovano, crea il tuo itinerario di visita consultando questo website online, oppure scaricando l’app gratuita: <span class="violet">Qui Oltrepò</span>.
					</h1>
				{{else}}
					<h1>
						Explore the territory of Oltrepò Mantovano, create your own itinerary by visiting this website or by downloading the free app: <span class="violet">Qui Oltrepò</span>.
					</h1>
				{{/ifeq}}
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="col-md-12" id="appStore">
					<a href="https://itunes.apple.com/us/app/quioltrepo/id1353089429" target="blank" title="Qui Oltrepò on the App Store">
						<img class="img-responsive" src="/images/app-store-badge-{{lang}}.png">
					</a>
				</div>
				<div class="col-md-12" id="googlePlay">
					<a href="https://play.google.com/store/apps/details?id=io.ionic.too_design" target="blank" title="Qui Oltrepò on Google Play">
						<img class="img-responsive" src="/images/google-play-badge-{{lang}}.png">
					</a>
				</div>
			</div>
		</div>

		<div class="row" id="bodyText">
			<div class="col-md-12">
				{{#ifeq lang 'it'}}
					<p>
						La app <strong>Qui Oltrepò</strong> è pensata per funzionare, con limitazioni, anche offline, cioè in aree non coperte da connesione internet dati mobili. È consigliabile effettuare il download collegandosi a reti <em>wifi</em>. Cerca la rete <em>wifi</em> pubblica più vicina in questo Comune!
					</p>
				{{else}}
					<p>
						The <strong>Qui Oltrepò</strong> app is designed to work, with certain limitations, offline, that is, in areas not covered by mobile Internet connectivity. It is advisable to download it by connecting to <em>wifi</em> networks. Look for the nearest public <em>wifi</em> in this commune!
					</p>
				{{/ifeq}}
			</div>
		</div>

		<div class="row" id="websiteButton">
			<div class="col-md-4 col-md-offset-4">
				<a class="btn btn-default btn-block" href="/{{lang}}" title="{{translate translations.gotoHomepage lang}}">{{translate translations.exploreThroughWebsite lang}}</a>
			</div>
		</div>
	</div>
</div>