{{#if isDidactics}}
	{{#if hasContributions}}
		<div id="argumentContributions">
			<div class="row">
				<div class="container">
					<div class="col-md-12">
						<h2>{{translate translations.argumentContributions lang}}</h2>
						{{#each contributions}}
							{{#if url}}
								<a href="//{{url}}" target="blank">{{localize label ../lang}}</a>
								<p class="caption">{{localize caption ../lang}}</p>
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	{{/if}}
{{/if}}

<div class="container" id="argumentContainer">
	<div class="row" id="argumentTools">
		<div class="col-md-7 col-md-offset-1">
			
		</div>
		<div class="col-md-3">
			
		</div>
	</div>

	<div class="row" id="argumentInfos">
		<div class="col-md-10 col-md-offset-1">
			{{#ifeq lang 'it'}}
				<h1>{{argument.name}}</h1>
			{{else}}
				<h1>{{argument.nameEN}}</h1>
			{{/ifeq}}
		</div>

		<div class="col-md-10 col-md-offset-1">
			<p>{{localize argument.shortDescription lang}}</p>
		</div>
	</div>

	<div class="row" id="argumentCover">
		<div class="col-md-10 col-md-offset-1">
			{{#if argument.useVideoCover}}
				<div id="argumentCoverVideo" class="block-content">
					<div class="embed-responsive embed-responsive-16by9">
						{{#ifeq argument.videoCover.host 'youtube'}}
							<iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{argument.videoCover.id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						{{/ifeq}}
						{{#ifeq argument.videoCover.host 'vimeo'}}
							<iframe src="https://player.vimeo.com/video/{{argument.videoCover.id}}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						{{/ifeq}}
					</div>
				</div>
			{{else}}
				{{#if argument.coverImg}}
					<img class="img-responsive" src="{{cloudinaryUrl argument.coverImg.src width=950 quality='auto' fetch_format='auto' dpr='auto'}}">
				{{else}}
					<div id="argumentImgPlaceholder"></div>
				{{/if}}
			{{/if}}
		</div>

		<div class="col-md-10 col-md-offset-1">
			{{#if argument.coverImg.caption}}
				<p class="caption">{{localize argument.coverImg.caption lang}}</p>
			{{/if}}
		</div>
	</div>

	<div class="row" id="argumentBlocks">
		<div class="{{hasDeepeningsClassName argument}}">
			{{#each blocks}}
				{{#if text.it}}
					<div class="block-content">
						<p>{{localize text ../lang}}</p>
					</div>
				{{/if}}

				{{#if img.src.secure_url}}
					<div class="block-content">
						<img class="img-responsive" src="{{cloudinaryUrl img.src width=750 quality='auto' fetch_format='auto' dpr='auto'}}">
						{{#if img.caption.it}}
							<p class="caption">{{localize img.caption ../lang}}</p>
						{{/if}}
					</div>
				{{/if}}

				{{#if gallery.pics}}
					<div class="block-content">
						<div id="argumentCarousel{{@index}}" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								{{#each gallery.pics}}
									{{#ifeq @index 0}}
										<li data-target="#argumentCarousel{{@index}}" data-slide-to="{{@index}}" class="active"></li>
									{{else}}
										<li data-target="#argumentCarousel{{@index}}" data-slide-to="{{@index}}"></li>
									{{/ifeq}}
								{{/each}}
							</ol>

							<div class="carousel-inner" role="listbox">
								{{#each gallery.pics}}
									{{#ifeq @index 0}}
										<div class="item active">
											<img src="{{cloudinaryUrl this width=750 height=400 crop='pad' quality='auto' fetch_format='auto' dpr='auto' background='black'}}">
										</div>
									{{else}}
										<div class="item">
											<img src="{{cloudinaryUrl this width=750 height=400 crop='pad' quality='auto' fetch_format='auto' dpr='auto' background='black'}}">
										</div>
									{{/ifeq}}
								{{/each}}
							</div>

							<a class="left carousel-control" href="#argumentCarousel{{@index}}" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">{{translate ../translations.previous ../lang}}</span>
							</a>
							<a class="right carousel-control" href="#argumentCarousel{{@index}}" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">{{translate ../translations.next ../lang}}</span>
							</a>
						</div>

						{{#if gallery.caption.it}}
							<p class="caption">{{localize gallery.caption ../lang}}</p>
						{{/if}}
					</div>
				{{/if}}

				{{#if video.src.secure_url}}
					<div class="block-content">
						VIDEO
						{{video.src.secure_url}}
					</div>
				{{/if}}

				{{#if externalVideo.id}}
					<div class="block-content">
						<img class="img-responsive" src="http://img.youtube.com/vi/{{externalVideo.id}}/hqdefault.jpg">
						{{#if externalVideo.caption.it}}
							<p class="caption">{{localize externalVideo.caption ../lang}}</p>
						{{/if}}
					</div>
				{{/if}}
			{{/each}}
		</div>

		{{#if hasDeepenings}}
			<div class="col-md-3">
				{{#each argument.deepenings}}
						<div class="deepening-card">
							{{#if img.url}}
								<img class="img-responsive" src="{{cloudinaryUrl img width=300 quality='auto' fetch_format='auto' dpr='auto'}}">
							{{else}}
								<img class="img-responsive default" src="/images/defaultPopUpImg.svg" style="padding-top: 15px; padding-bottom: 15px;">
							{{/if}}

							{{#ifeq ../lang 'it'}}
								<h6>{{name}}</h6>
							{{else}}
								<h6>{{nameEN}}</h6>
							{{/ifeq}}

							<p class="caption">{{localize caption ../lang}}</p>
						</div>
				{{/each}}
			</div>
		{{/if}}
	</div>
</div>

<div id="argumentData">
	<div class="container">
		<div class="row">
			{{#if hasLinks}}
				<div class="col-md-8 col-md-offset-2">
					<h3>{{translate translations.toKnowMore lang}}</h3>
					<ul>
						{{#each links}}
							{{#if label.it}}
								<li>
									{{!-- <a href="{{url}}" target="blank" title="{{localize label ../lang}}">{{localize label ../lang}}</a> --}}
									<p>{{localize label ../lang}} - {{url}}</p>
								</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</div>
	</div>
</div>

{{!-- <div id="featuredSlider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{#if hasRelated}}
					<h3>{{translate translations.exploreTopics lang}}</h3>

					<div id="argumentFeaturedSliderContainer">
						<div id="argumentFeaturedSlider">
							{{#each argument.related}}
								<div class="argument-featured-card">
									{{#if coverImg.src.url}}
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">
												<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=300 height=190 crop='fill' quality='auto' fetch_format='auto'}}">
											</a>
										{{else}}
											<a href="/en/topic/{{slugEN}}">
												<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=300 height=190 crop='fill' quality='auto' fetch_format='auto'}}">
											</a>
										{{/ifeq}}
									{{/if}}

									<h6>
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">{{name}}</a>
										{{else}}
											<a href="/en/topic/{{slugEN}}">{{nameEN}}</a>
										{{/ifeq}}
									</h6>

									{{#ifeq ../lang 'it'}}
										<a class="caption" href="/it/comune/{{towns.[0].key}}">{{towns.[0].name}}</a>
									{{else}}
										<a class="caption" href="/en/town/{{towns.[0].key}}">{{towns.[0].name}}</a>
									{{/ifeq}}

								</div>
							{{/each}}
						</div>

						<div class="argument-featured-nav" id="argumentFeaturedSliderNavLeft"></div>
						<div class="argument-featured-nav" id="argumentFeaturedSliderNavRight"></div>
					</div>
				{{else}}
					<h3>{{translate translations.noRelatedArguments lang}}</h3>
				{{/if}}
			</div>
		</div>
	</div>
</div> --}}