<div id="categoryTools">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 style="color: {{catColor}};">{{catName}}</h1>
				
				<h2>{{translate translations.searchSomethingSpecial lang}}</h2>

				<div id="filterInput">
					<input type="text" name="mainFilterInput" id="mainFilterInput" placeholder="{{translate translations.startTyping lang}}">

					<span class="searchIcon">
						<svg width="100%" height="100%" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
							<g transform="matrix(0.931678,0,0,0.931678,-720.247,-600.557)">
							<path d="M775.65,653.004C775.65,649.789 778.255,647.184 781.468,647.184C784.683,647.184 787.545,650.047 787.545,653.262C787.545,656.477 784.941,659.082 781.726,659.082C778.513,659.082 775.65,656.217 775.65,653.004M794.046,662.76L788.914,657.625C789.687,656.354 790.132,654.859 790.132,653.262C790.132,648.621 786.113,644.598 781.468,644.598C776.826,644.598 773.064,648.361 773.064,653.004C773.064,657.647 777.086,661.668 781.726,661.668C783.271,661.668 784.714,661.248 785.959,660.524L791.121,665.686C791.627,666.19 792.447,666.19 792.949,665.686L794.23,664.406C794.738,663.9 794.552,663.264 794.046,662.76" style="fill:{{catColor}};fill-rule:nonzero;"/>
							</g>
						</svg>
					</span>

					<div id="suggestionsContainer" class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-5">
				<div id="categoryMap" class="category-map mini-map side-map"></div>
				<p class="caption">{{translate translations.flowArguments lang}}</p>
			</div>
		</div>
	</div>
</div>

<div id="categoryFilters">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<select id="filterByCategorySelect" name="filterByCategorySelect">
					{{#if isFiltered}}
						<option value="removeFilter">-- {{translate translations.allTopics lang}} --</option>
					{{else}}
						<option value="filterByCategory">-- {{translate translations.filterByCategory lang}} --</option>
					{{/if}}

					{{#each categories}}
						{{#ifeq ../lang 'it'}}
							<option value="{{key}}" {{#ifeq ../cat key}}selected{{/ifeq}}>{{name}}</option>
						{{else}}
							<option value="{{slugEN}}" {{#ifeq ../cat slugEN}}selected{{/ifeq}}>{{nameEN}}</option>
						{{/ifeq}}
					{{/each}}
				</select>
			</div>

			<div class="col-md-7" id="filterTags" data-color="{{catColor}}"></div>

			<div class="col-md-2">
				<a id="categoryFiltersResetFilters" class="btn btn-block" href="#" role="button">{{translate translations.removeFilters lang}}</a>
			</div>

			<div style="clear: both;"></div>
		</div>
	</div>
</div>

{{#if arguments}}
	<div id="categoryArguments" {{#if isFiltered}}class="filtered" data-filter="{{filterString}}"{{/if}}>
		<div class="container">
			<div class="row">
				{{#each arguments}}
					<div class="col-md-6 category-argument-card{{#each categories}}{{#ifeq ../../lang 'it'}} {{key}}{{else}} {{slugEN}}{{/ifeq}}{{/each}}" data-id="{{id}}" data-lng="{{location.location.geo.[0]}}" data-lat="{{location.location.geo.[1]}}" data-color="{{categories.[0].color}}">
						<div class="row">
							<div class="col-md-6 category-argument-card-image">
								{{#if useVideoCover}}
									<div id="argumentCoverVideo" class="block-content">
										<div class="embed-responsive embed-responsive-16by9">
											{{#ifeq videoCover.host 'youtube'}}
												<iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{videoCover.id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
											{{/ifeq}}
											{{#ifeq videoCover.host 'vimeo'}}
												<iframe src="https://player.vimeo.com/video/{{videoCover.id}}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
											{{/ifeq}}
										</div>
									</div>
								{{else}}
									{{#if coverImg.src.url}}
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">
										{{else}}
											<a href="/en/topic/{{slugEN}}">
										{{/ifeq}}
											<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width='300' height='200' crop="fill" quality='auto' fetch_format='auto' dpr='auto'}}">
										</a>
									{{else}}
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">
										{{else}}
											<a href="/en/topic/{{slugEN}}">
										{{/ifeq}}
											<img class="img-responsive" src="/images/logo-img-placeholder-300x200.svg">
										</a>
									{{/if}}
								{{/if}}
							</div>
							<div class="col-md-6 category-argument-card-data">
								{{#ifeq ../lang 'it'}}
									<h5><a href="/it/argomento/{{key}}">{{name}}</a></h5>
								{{else}}
									<h5><a href="/en/topic/{{slugEN}}">{{nameEN}}</a></h5>
								{{/ifeq}}

								{{#ifeq ../lang 'it'}}
									<a class="caption" href="/it/comune/{{towns.[0].key}}">{{towns.[0].name}}</a>
								{{else}}
									<a class="caption" href="/en/town/{{towns.[0].key}}">{{towns.[0].name}}</a>
								{{/ifeq}}

								<p>{{localize shortDescription ../lang}}</p>

								{{#ifeq ../lang 'it'}}
									<a href="/it/argomento/{{key}}" class="category-read-more-link">{{translate ../translations.readMore ../lang}}</a>
								{{else}}
									<a href="/en/topic/{{slugEN}}" class="category-read-more-link">{{translate ../translations.readMore ../lang}}</a>
								{{/ifeq}}

								<a class="category-add-to-route-link" href="#" id="{{_id}}" data-id="{{_id}}" data-lng="{{location.location.geo.[0]}}" data-lat="{{location.location.geo.[1]}}">
									{{translate ../translations.addToRoute ../lang}}
								</a>
							</div>
						</div>
					</div>
				{{/each}}
			</div>

			<div class="row">
				<div class="col-md-12" id="addAllToRoute">
					<a href="#" id="addAllToRouteLink">{{translate translations.addAllToRoute lang}}</a>
				</div>
			</div>
		</div>
	</div>
{{/if}}