<div id="didacticsIntro">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>{{translate translations.didacticsIntroHead lang}}</h1>
				<p>{{translate translations.didacticsIntroBody lang}}</p>
			</div>
		</div>
	</div>
</div>

<div id="didacticsTools">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<h2>{{translate translations.searchArchive lang}}</h2>

				<div id="filterInput">
					<input type="text" name="didacticsFilterInput" id="didacticsFilterInput" placeholder="{{translate translations.startTyping lang}}">

					<span class="searchIcon">
						<svg width="100%" height="100%" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
							<g transform="matrix(0.931678,0,0,0.931678,-720.247,-600.557)">
							<path d="M775.65,653.004C775.65,649.789 778.255,647.184 781.468,647.184C784.683,647.184 787.545,650.047 787.545,653.262C787.545,656.477 784.941,659.082 781.726,659.082C778.513,659.082 775.65,656.217 775.65,653.004M794.046,662.76L788.914,657.625C789.687,656.354 790.132,654.859 790.132,653.262C790.132,648.621 786.113,644.598 781.468,644.598C776.826,644.598 773.064,648.361 773.064,653.004C773.064,657.647 777.086,661.668 781.726,661.668C783.271,661.668 784.714,661.248 785.959,660.524L791.121,665.686C791.627,666.19 792.447,666.19 792.949,665.686L794.23,664.406C794.738,663.9 794.552,663.264 794.046,662.76" style="fill:#b4b4b4;fill-rule:nonzero;"/>
							</g>
						</svg>
					</span>

					<div id="suggestionsContainer" class="clearfix"></div>
				</div>
			</div>

			<div id="categorySelectCol" class="col-md-3">
				<h2>&nbsp;</h2>
				<select id="didacticsFilterByCategorySelect" name="didacticsFilterByCategorySelect" class="form-control">
					<option value="didacticsFilterByCategory">-- {{translate translations.filterByCategory lang}} --</option>

					{{#each categories}}
						{{#ifeq ../lang 'it'}}
							<option value="{{key}}" {{#ifeq ../cat key}}selected{{/ifeq}}>{{name}}</option>
						{{else}}
							<option value="{{slugEN}}" {{#ifeq ../cat slugEN}}selected{{/ifeq}}>{{nameEN}}</option>
						{{/ifeq}}
					{{/each}}
				</select>
			</div>

			<div id="townSelectCol" class="col-md-3">
				<h2>&nbsp;</h2>
				<select id="didacticsFilterByTownSelect" name="didacticsFilterByTownSelect" class="form-control">
					<option value="didacticsFilterByTown">-- {{translate translations.filterByTown lang}} --</option>

					{{#each towns}}
						<option value="{{key}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
	</div>
</div>

<div id="categoryFilters">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-1" id="filterTags" data-color="{{catColor}}"></div>

			<div class="col-md-2">
				<a id="categoryFiltersResetFilters" class="btn btn-block" href="#" role="button">{{translate translations.removeFilters lang}}</a>
			</div>

			<div style="clear: both;"></div>
		</div>
	</div>
</div>

{{#if arguments}}
	<div id="didacticsArguments" {{#if isFiltered}}class="filtered" data-filter="{{filterString}}"{{/if}}>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 clearfix">
					{{#each arguments}}
						<div class="col-md-4 didactics-argument-card{{#each categories}}{{#ifeq ../../lang 'it'}} {{key}}{{else}} {{slugEN}}{{/ifeq}}{{/each}}" data-id="{{id}}" data-lng="{{location.location.geo.[0]}}" data-lat="{{location.location.geo.[1]}}" data-color="{{categories.[0].color}}">
							<div class="didactics-argument-card-inner">
								{{#if coverImg.src.url}}
									{{#ifeq ../lang 'it'}}
										<a href="/it/didattica/argomento/{{key}}">
									{{else}}
										<a href="/en/didactics/topic/{{slugEN}}">
									{{/ifeq}}
										<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width='300' height='200' crop="fill" quality='auto' fetch_format='auto' dpr='auto'}}">
									</a>
								{{else}}
									{{#ifeq ../lang 'it'}}
										<a href="/it/didattica/argomento/{{key}}">
									{{else}}
										<a href="/en/didactics/topic/{{slugEN}}">
									{{/ifeq}}
										<img class="img-responsive" src="/images/logo-img-placeholder-300x200.svg">
									</a>
								{{/if}}

								{{#ifeq ../lang 'it'}}
									<h5><a href="/it/didattica/argomento/{{key}}">{{name}}</a></h5>
								{{else}}
									<h5><a href="/en/didactics/topic/{{slugEN}}">{{nameEN}}</a></h5>
								{{/ifeq}}

								{{#if towns}}
									{{#ifeq towns.length 1}}
										{{#ifeq ../lang 'it'}}
											<a class="didactics-town-link" data-slug="{{towns.[0].key}}" href="/it/comune/{{towns.[0].key}}">{{towns.[0].name}}</a>
										{{else}}
											<a class="didactics-town-link" data-slug="{{towns.[0].key}}" href="/en/town/{{towns.[0].key}}">{{towns.[0].name}}</a>
										{{/ifeq}}
									{{else}}
										<a href="#" class="didactics-town-list-toggle">{{translate ../translations.relatedTowns ../lang}}</a>
										<ul class="didactics-town-list">
											{{#each towns}}
												<li>
													{{#ifeq ../../lang 'it'}}
														<a class="didactics-town-link" data-slug="{{this.key}}" href="/it/comune/{{this.key}}">{{this.name}}</a>
													{{else}}
														<a class="didactics-town-link" data-slug="{{this.key}}" href="/en/town/{{this.key}}">{{this.name}}</a>
													{{/ifeq}}
												</li>
											{{/each}}
										</ul>
									{{/ifeq}}
								{{/if}}

								{{#if categories}}
									<div class="didactics-category-link-container">
										{{#each categories}}
											{{#ifeq ../../lang 'it'}}
												<a class="didactics-category-link" href="/it/argomenti/{{key}}" title="{{name}}" style="color: {{color}}">{{{name}}}</a>
											{{else}}
												<a class="didactics-category-link" href="/en/topics/{{slugEN}}" title="{{nameEN}}" style="color: {{color}}">{{{nameEN}}}</a>
											{{/ifeq}}
										{{/each}}
									</div>
								{{/if}}

								<p>{{localize shortDescription ../lang}}</p>

								{{#ifeq ../lang 'it'}}
									<a href="/it/didattica/argomento/{{key}}" class="category-read-more-link">{{translate ../translations.readMore ../lang}}</a>
								{{else}}
									<a href="/en/didactics/topic/{{slugEN}}" class="category-read-more-link">{{translate ../translations.readMore ../lang}}</a>
								{{/ifeq}}
							</div>

							<div class="didactics-argument-card-tools">
								<a class="btn btn-default didactics-argument-download-PDF" href="#" data-slug="{{#ifeq ../lang 'it'}}{{key}}{{else}}{{slugEN}}{{/ifeq}}">
									{{translate ../translations.downloadPDF ../lang}}
								</a>

								{{#if hasContribs}}
									<a class="btn btn-default didactics-argument-contribution-link" href="">{{translate ../translations.contributionsLabel ../lang}}</a>
									<ul class="didactics-argument-contribs-container">
										{{#each contribs}}
											{{#if url}}
												<li>
													<a href="//{{url}}" target="blank">{{localize label ../../lang}}</a>
													{{#if caption}}<p class="caption">{{localize caption ../../lang}}</p>{{/if}}
												</li>
											{{/if}}
										{{/each}}
									</ul>
								{{else}}
									<a class="btn btn-default didactics-argument-contribution-link disabled" href="">Contributi</a>
								{{/if}}
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
{{/if}}