{{!< default}}
<div class="container-fluid" id="mapContainer">
	<div class="row">
		<div id="map"></div>
	</div>
</div>

<div id="mapFilters">
	<div class="container">
		<div class="row">
			<div class="col-md-10 clearfix" id="category-filters">
				{{#if categories}}
					{{#each categories}}
						<div class="category-filter-container" data-id="{{@index}}" data-slug="{{#ifeq ../lang 'it'}}{{key}}{{else}}{{slugEN}}{{/ifeq}}">
							{{#ifeq ../lang 'it'}}
								<a href="#" class="category-filter-link" style="color: {{color}}">
									<span class="category-filter-bullet" style="border-color: {{color}}">
										<span class="category-filter-bullet-checked" style="background-color: {{color}}"></span>
									</span>
									{{name}}
								</a>
							{{else}}
								<a href="#" class="category-filter-link" style="color: {{color}}">
									<span class="category-filter-bullet" style="border-color: {{color}}">
										<span class="category-filter-bullet-checked" style="background-color: {{color}}"></span>
									</span>
									{{nameEN}}
								</a>
							{{/ifeq}}
						</div>
					{{/each}}
				{{/if}}
			</div>

			<div class="col-md-2" id="clearFilters">
				<a id="hideTopicsBtn" class="btn btn-default btn-block" href="#" role="button">{{translate translations.hideTopics lang}}</a>
				<a id="clearFiltersBtn" class="btn btn-default btn-block hidden" href="#" role="button">{{translate translations.removeFilters lang}}</a>
			</div>
		</div>
	</div>
</div>

<div id="mainBody">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>{{translate translations.siteHeading lang}}</h1>
				<p>{{translate translations.siteHeadline lang}}</p>
			</div>
		</div>
	</div>
</div>

<div id="featuredArguments">
	<div class="container">
		<div class="row">
			<h3>{{translate translations.featuredArgumentsHeading lang}}</h3>

			<div id="featuredContainer">
				<div id="featuredSlider">
					{{#if arguments}}
						{{#each arguments}}
							<div class="featured-card">
								<div class="featured-card-container">
									{{#if coverImg.src.secure_url}}
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">
										{{else}}
											<a href="/en/topic/{{slugEN}}">
										{{/ifeq}}
											<div class="featured-card-image" style="background-image: url('{{cloudinaryUrl coverImg.src width=400 height=190 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}')"></div>
										</a>
									{{else}}
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">
										{{else}}
											<a href="/en/topic/{{slugEN}}">
										{{/ifeq}}
											<div class="featured-card-image" style="background-image: url('images/logo.svg')"></div>
										</a>
									{{/if}}

									<h5>
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">{{name}}</a>
										{{else}}
											<a href="/en/topic/{{slugEN}}">{{nameEN}}</a>
										{{/ifeq}}
									</h5>

									{{#ifeq towns.length 1}}
										{{#ifeq ../lang 'it'}}
											<a class="featured-card-town-link" href="/it/comune/{{towns.[0].key}}">{{towns.[0].name}}</a>
										{{else}}
											<a class="featured-card-town-link" href="/en/town/{{towns.[0].key}}">{{towns.[0].name}}</a>
										{{/ifeq}}
									{{else}}
										<a href="#" class="featured-card-town-list-toggle">{{translate ../translations.relatedTowns ../lang}}</a>
										<ul class="featured-card-town-list">
											{{#each towns}}
												<li>
													{{#ifeq ../../lang 'it'}}
														<a href="/it/comune/{{key}}">{{name}}</a>
													{{else}}
														<a href="/en/town/{{key}}">{{name}}</a>
													{{/ifeq}}
												</li>
											{{/each}}
										</ul>
									{{/ifeq}}

									<div class="featured-card-category-links">
										{{#if categories}}
											{{#each categories}}
												{{#ifeq ../../lang 'it'}}
													<a href="/it/argomenti/{{key}}" style="color: {{color}}">{{name}}</a>
												{{else}}
													<a href="/en/topics/{{slugEN}}" style="color: {{color}}">{{nameEN}}</a>
												{{/ifeq}}
											{{/each}}
										{{/if}}
									</div>

									<p>{{localize shortDescription ../lang}}</p>

									{{#ifeq ../lang 'it'}}
										<a href="/it/argomento/{{key}}" class="featured-read-more-link">{{translate ../translations.readMore ../lang}}</a>
									{{else}}
										<a href="/en/topic/{{slugEN}}" class="featured-read-more-link">{{translate ../translations.readMore ../lang}}</a>
									{{/ifeq}}

									<div class="add-to-route-featured-card-link">
										<a class="add-to-route-link" href="#" data-id="{{_id}}" data-lng="{{location.location.geo.[0]}}" data-lat="{{location.location.geo.[1]}}">
											{{translate ../translations.addToRoute ../lang}}
										</a>
									</div>
								</div>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</div>

			<div class="slider-nav-control slide-left"></div>
			<div class="slider-nav-control slide-right"></div>
		</div>
	</div>
</div>

<div id="videoGallery">
	<div class="container">
		<div class="row">
			<h3>{{translate translations.videoGalleryHeading lang}}</h3>

			<div id="videoGalleryContainer">
				<div id="videoGallerySlider">
					{{#if featuredVideos}}
						{{#each featuredVideos}}
							<div class="video-gallery-card">
								<div class="video-gallery-card-container">

									<div class="video-container">
										<div class="embed-responsive embed-responsive-16by9">
											<iframe src="https://www.youtube.com/embed/{{videoID}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>

									<div class="video-data">
										<h5>
											{{#ifeq ../lang 'it'}}
												{{name}}
											{{else}}
												{{nameEN}}
											{{/ifeq}}
										</h5>

										<p>{{localize description ../lang}}</p>

										<div class="video-data-category-links">
											{{#if categories}}
												{{#each categories}}
													{{#ifeq ../../lang 'it'}}
														<a href="/it/argomenti/{{key}}" style="color: {{color}}">{{name}}</a>
													{{else}}
														<a href="/en/topics/{{slugEN}}" style="color: {{color}}">{{nameEN}}</a>
													{{/ifeq}}
												{{/each}}
											{{/if}}
										</div>

										<div class="video-data-town-links">
											{{#if towns}}
												{{#each towns}}
													{{#ifeq ../../lang 'it'}}
														<a href="/it/comune/{{key}}" style="color: {{color}}">{{name}}</a>
													{{else}}
														<a href="/en/town/{{key}}" style="color: {{color}}">{{name}}</a>
													{{/ifeq}}
												{{/each}}
											{{/if}}
										</div>
									</div>

								</div>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</div>

			<div class="video-gallery-nav-control video-gallery-slide-left"></div>
			<div class="video-gallery-nav-control video-gallery-slide-right"></div>
		</div>
	</div>
</div>