<section id="routesTitle">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{translate translations.featuredRoutesHeading lang}}</h1>
			</div>
		</div>
	</div>
</section>

<section id="featuredRoutes">
	<div class="container">
		<div class="row">
			{{#each featuredRoutes}}
				<div class="col-md-11 col-md-offset-1 featured-route" data-code="{{appCode}}" data-routeid="{{id}}" data-slug="{{#ifeq ../lang 'it'}}{{key}}{{else}}{{slugEN}}{{/ifeq}}">
					<div class="featured-route-step-title clearfix">
						<div class="col-md-9 col-sm-12 featured-route-step-title-title-container">
							<h2>
								<span class="featured-route-step-title-icon"></span>
								{{#ifeq ../lang 'it'}}
									<a href="/it/itinerario/{{key}}">{{name}}</a>
								{{else}}
									<a href="/en/route/{{slugEN}}">{{nameEN}}</a>
								{{/ifeq}}
							</h2>
						</div>
						<div class="col-md-3 sm-hidden featured-route-step-title-show-steps-container">
							<a class="featured-route-step-title-show-steps" data-toggle="collapse" href="#featuredRouteSteps{{@index}}" aria-expanded="false" aria-controls="featuredRouteSteps{{@index}}">
								{{translate ../translations.showSteps ../lang}}
							</a>
						</div>
					</div>

					<div class="featured-route-step-preview">
						<div class="col-md-6 featured-route-step-preview-img">
							<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=500 height=250 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}">
						</div>
						<div class="col-md-6 featured-route-step-preview-description">
							<p>{{localize description ../lang}}</p>

							<div class="featured-route-step-tools">
								<a class="btn btn-default featured-route-step-tools-use-route-btn" href="#">{{translate ../translations.useThisRoute ../lang}}</a>
								
								<div class="featured-route-step-social">
									<span>{{translate ../translations.share ../lang}}: </span>
									<a class="featured-route-step-social-icon" href="#" data-service="twitter" data-url="{{../shareUrlBase}}/{{#ifeq ../lang 'it'}}itinerario/{{key}}{{else}}route/{{slugEN}}{{/ifeq}}">
										<img class="img-responsive" src="/images/routePageTwitterIcon.svg">
									</a>

									<a class="featured-route-step-social-icon" href="#" data-service="facebook" data-url="{{../shareUrlBase}}/{{#ifeq ../lang 'it'}}itinerario/{{key}}{{else}}route/{{slugEN}}{{/ifeq}}">
										<img class="img-responsive" src="/images/routePageFacebookIcon.svg">
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 collapse featured-route-steps-container" id="featuredRouteSteps{{@index}}" data-index="{{@index}}">
						<div class="featured-route-map" id="featuredRouteMap{{@index}}"></div>

						{{#each arguments}}
							<div class="featured-route-step">
								<div class="col-md-2">
									{{#if coverImg.src.secure_url}}
										{{#ifeq ../../lang 'it'}}
											<a href="/it/argomento/{{key}}">
												<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=300 height=150 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}">
											</a>
										{{else}}
											<a href="/en/topic/{{slugEN}}">
												<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=300 height=150 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}">
											</a>
										{{/ifeq}}
									{{else}}
										{{#ifeq ../../lang 'it'}}
											<a href="/it/argomento/{{key}}">
												<img class="img-responsive" src="/images/logo-img-placeholder-300x150.svg">
											</a>
										{{else}}
											<a href="/en/topic/{{slugEN}}">
												<img class="img-responsive" src="/images/logo-img-placeholder-300x150.svg">
											</a>	
										{{/ifeq}}
									{{/if}}

									<div class="featured-route-step-number" data-lng="{{location.location.geo.[0]}}" data-lat="{{location.location.geo.[1]}}">
										{{inc @index}}
									</div>
								</div>

								<div class="col-md-9">
									{{#ifeq ../../lang 'it'}}
										<h3>
											<a href="/it/argomento/{{key}}">{{name}}</a>
											{{#if location.location.street1}}<span class="geo-caption"> | {{location.location.street1}}</span>{{/if}}
										</h3>
									{{else}}
										<h3>
											<a href="/en/topic/{{slugEN}}">{{nameEN}}</a>
											{{#if location.location.street1}}<span class="geo-caption"> | {{location.location.street1}}</span>{{/if}}
										</h3>
									{{/ifeq}}
									
									{{#if categories}}
										{{#each categories}}
											{{#ifeq ../../../lang 'it'}}
												<a class="featured-route-step-category-link" href="/it/argomenti/{{key}}" style="color: {{color}};">{{name}}</a>
											{{else}}
												<a class="featured-route-step-category-link" href="/en/topics/{{slugEN}}" style="color: {{color}};">{{nameEN}}</a>
											{{/ifeq}}
										{{/each}}
									{{/if}}
								</div>
								<div style="clear: both;"></div>
							</div>
							
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<div id="videoGallery">
	<div class="container">
		<div class="row">
			<h3>{{translate translations.videoGalleryHeading lang}}</h3>

			<div id="videoGalleryContainer">
				<div id="videoGallerySlider">
					{{#if featuredVideos}}
						{{#each featuredVideos}}
							<div class="video-gallery-card">
								<div class="video-gallery-card-container">

									<div class="video-container">
										<div class="embed-responsive embed-responsive-16by9">
											<iframe src="https://www.youtube.com/embed/{{videoID}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
										</div>
									</div>

									<div class="video-data">
										<h5>
											{{#ifeq ../lang 'it'}}
												{{name}}
											{{else}}
												{{nameEN}}
											{{/ifeq}}
										</h5>

										<p>{{localize description ../lang}}</p>

										<div class="video-data-category-links">
											{{#if categories}}
												{{#each categories}}
													{{#ifeq ../../lang 'it'}}
														<a href="/it/argomenti/{{key}}" style="color: {{color}}">{{name}}</a>
													{{else}}
														<a href="/en/topics/{{slugEN}}" style="color: {{color}}">{{nameEN}}</a>
													{{/ifeq}}
												{{/each}}
											{{/if}}
										</div>

										<div class="video-data-town-links">
											{{#if towns}}
												{{#each towns}}
													{{#ifeq ../../lang 'it'}}
														<a href="/it/comune/{{key}}" style="color: {{color}}">{{name}}</a>
													{{else}}
														<a href="/en/town/{{key}}" style="color: {{color}}">{{name}}</a>
													{{/ifeq}}
												{{/each}}
											{{/if}}
										</div>
									</div>

								</div>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</div>

			<div class="video-gallery-nav-control video-gallery-slide-left"></div>
			<div class="video-gallery-nav-control video-gallery-slide-right"></div>
		</div>
	</div>
</div>