<div id="routePageContainer">
	<div id="routeData">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{{#ifeq lang 'it'}}<h1>{{route.name}}</h1>{{else}}<h1>{{route.nameEN}}</h1>{{/ifeq}}
				</div>

				<div class="col-md-8">
					{{#if nowebgl}}
						<div id="routePageStaticMap" class="route-page-map mini-map side-map">
							<img class="img-responsive" src="{{mapboxStaticBaseUrl}}/{{staticMarkers}}/{{mapboxStaticPosAndSize}}?access_token={{mapboxAccessToken}}">
						</div>
					{{else}}
						<div id="routePageMap" class="route-page-map mini-map side-map"></div>
					{{/if}}
				</div>

				<div class="col-md-4" id="routeDetails">
					<h5>{{translate translations.routeCode lang}}:</h5>
					<h5>{{route.appCode}}</h5>

					<p class="caption">{{translate translations.routeAppHint lang}}</p>

					<a id="routeDownloadPDF" class="btn btn-default btn-block btn-route-page" href="#" role="button">
						{{translate translations.downloadRoutePDF lang}}
					</a>

					<a id="routeSendEmail" class="btn btn-default btn-block btn-route-page" href="#" role="button">
						{{translate translations.sendRouteEmail lang}}
					</a>

					<div id="routeSharingTools">
						<ul>
							<li>{{translate translations.share lang}}</li>
							<li id="tw">
								<a class="route-page-social-icon" data-service="twitter" data-url="{{shareUrl}}" href="#">
									<img class="img-responsive" src="/images/routePageTwitterIcon.svg">
								</a>
							</li>
							<li id="fb">
								<a class="route-page-social-icon" data-service="facebook" data-url="{{shareUrl}}" href="#">
									<img class="img-responsive" src="/images/routePageFacebookIcon.svg">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="routeList">
		<div class="container">
			<div class="row">
				<div class="col-md-8" id="routeSteps">
					{{#each route.arguments}}

						<div class="route-step clearfix" data-lng="{{location.location.geo.[0]}}" data-lat="{{location.location.geo.[1]}}" data-color="{{categories.[0].color}}">
							<div class="route-step-block route-step-map">
								{{#if location.location.geo}}
									<img class="img-responsive" src="{{../mapboxStaticBaseUrl}}/url-{{../markerUrl}}({{location.location.geo}})/{{location.location.geo}},10,20/150x150@2x?access_token={{../mapboxAccessToken}}">
								{{else}}
									<img class="img-responsive" src="{{../mapboxStaticDefault}}">
								{{/if}}
							</div>

							<div class="route-step-block route-step-thumb">
								{{#if coverImg.src.secure_url}}
									{{#ifeq ../lang 'it'}}
										<a href="/it/argomento/{{key}}">
									{{else}}
										<a href="/en/topic/{{slugEN}}">
									{{/ifeq}}
										<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=200 height=200 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}">
									</a>
								{{else}}
									{{#ifeq ../lang 'it'}}
										<a href="/it/argomento/{{key}}">
									{{else}}
										<a href="/en/topic/{{slugEN}}">
									{{/ifeq}}
										<img class="img-responsive" src="/images/logo-img-placeholder-300x300.png">
									</a>
								{{/if}}
							</div>

							<div class="route-step-block route-step-info">
								<div class="route-step-info-left">
									<h5>{{#ifeq ../lang 'it'}}Tappa{{else}}Step{{/ifeq}} {{inc @index}}</h5>
									<h2>
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">{{name}}</a>
										{{else}}
											<a href="/en/topic/{{slugEN}}">{{nameEN}}</a>
										{{/ifeq}}
									</h2>
									<div class="route-step-category-links">
										{{#if categories}}
											{{#each categories}}
												{{#ifeq ../../lang 'it'}}
													<a style="color: {{color}};" href="/it/argomenti/{{key}}">{{name}}</a>
												{{else}}
													<a style="color: {{color}};" href="/en/topics/{{slugEN}}">{{nameEN}}</a>
												{{/ifeq}}
											{{/each}}
										{{/if}}
									</div>
								</div>

								<div class="route-step-info-right">
									{{#if location.location}}
										<p class="where">{{#ifeq ../lang 'it'}}Dove{{else}}Where{{/ifeq}}:</p>
										<p class="address">{{location.location.postcode}} - {{location.location.street1}}</p>
										<p class="gps">LNG: {{location.location.geo.[0]}}, LAT: {{location.location.geo.[1]}}</p>
									{{/if}}
								</div>
							</div>
						</div>

						<hr>

					{{/each}}
				</div>

				<div class="col-md-4" id="routeMap">
					<h5>{{translate translations.toReachRouteStartingPoint lang}}</h5>
				</div>
			</div>
		</div>
	</div>
</div>