<div class="container-fluid">
	<div class="row">
		<div id="townCoverImg" style="background-image: url('{{cloudinaryUrl town.coverImg.src width=1200 height=450 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}')"></div>
	</div>
</div>

<section id="townInfo">
	<div class="container">
		<div class="row">
			<div id="townDescription" class="col-md-7 {{#if town.useVideoCover}}town-video-cover-description{{/if}}">
				<p>{{localize town.description lang}}</p>
			</div>

			<div class="col-md-12">
				<h1>{{town.name}}</h1>
			</div>
		</div>
	</div>
</section>

<section id="townMainBody">
	<div class="container">
		<div class="row">
			<div class="col-md-8" id="townArguments">
				{{#if town.useVideoCover}}
					<div id="townCoverVideo" class="block-content">
						<div class="embed-responsive embed-responsive-16by9">
							{{#ifeq town.videoCover.host 'youtube'}}
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{town.videoCover.id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							{{/ifeq}}
							{{#ifeq town.videoCover.host 'vimeo'}}
								<iframe src="https://player.vimeo.com/video/{{town.videoCover.id}}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							{{/ifeq}}
						</div>
					</div>
				{{/if}}

				{{#if town.arguments}}
					<h3>{{translate translations.foundInTown lang}}</h3>
					<ul id="townArgumentList">
						{{#each town.arguments}}
							<li class="town-argument row">
								<div class="col-md-6 town-argument-img">
										{{#if coverImg.src.url}}
											{{#ifeq ../lang 'it'}}
												<a href="/it/argomento/{{key}}">
											{{else}}
												<a href="/en/topic/{{slugEN}}">
											{{/ifeq}}
												<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=400 height=250 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}">
											</a>
										{{else}}
											{{#ifeq ../lang 'it'}}
												<a href="/it/argomento/{{key}}">
											{{else}}
												<a href="/en/topic/{{slugEN}}">
											{{/ifeq}}
												<img class="img-responsive" src="/images/logo-img-placeholder-300x200.svg">
											</a>
										{{/if}}
									</a>
								</div>

								<div class="col-md-6 town-argument-info">
									<h5>
										{{#ifeq ../lang 'it'}}
											<a href="/it/argomento/{{key}}">{{name}}</a>
										{{else}}
											<a href="/en/topic/{{slugEN}}">{{nameEN}}</a>
										{{/ifeq}}
									</h5>

									{{#if categories}}
										{{#each categories}}
											{{#ifeq ../../lang 'it'}}
												<a class="town-argument-category-link" href="/it/argomenti/{{key}}" title="{{name}}" style="color: {{color}}">{{{name}}}</a>
											{{else}}
												<a class="town-argument-category-link" href="/en/topics/{{slugEN}}" title="{{nameEN}}" style="color: {{color}}">{{{nameEN}}}</a>
											{{/ifeq}}
										{{/each}}
									{{/if}}

									<p>{{localize shortDescription ../lang}}</p>

									{{#ifeq ../lang 'it'}}
										<a href="/it/argomento/{{key}}" class="town-argument-read-more-link" title="{{name}}">{{translate ../translations.readMore ../lang}}</a>
									{{else}}
										<a href="/en/topic/{{slugEN}}" class="town-argument-read-more-link" title="{{nameEN}}">{{translate ../translations.readMore ../lang}}</a>
									{{/ifeq}}
									<br>
									<a class="town-argument-add-to-route-link" href="#" data-id="{{_id}}" data-lng="{{location.location.geo.[0]}}" data-lat="{{location.location.geo.[1]}}">
										{{translate ../translations.addToRoute ../lang}}
									</a>
								</div>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<h3>{{translate translations.noArgumentsAvailable lang}}</h3>
				{{/if}}
			</div>

			<div class="col-md-4" id="townSidebar">
				<h3>{{translate translations.whereDoYouStart lang}}</h3>
				
				<div id="townSideMap" class="town-map mini-map side-map" data-lat="{{town.location.location.geo.[1]}}" data-lng="{{town.location.location.geo.[0]}}"></div>
				
				<div id="townRoute">
					<a class="town-route-fixed-start" id="townRouteFromNearestToll" href="#">{{translate translations.fromNearestToll lang}}</a>

					<div class="town-route-container">
						<ul>
							{{#each town.routingStartDefault}}
								<li class="route" id="townRoute{{@index}}" data-start-lat="{{location.geo.[1]}}" data-start-lng="{{location.geo.[0]}}">
									<a data-id="{{@index}}" class="route-toggle-steps" href="#">{{#ifeq ../lang 'it'}}{{name}}{{else}}{{nameEN}}{{/ifeq}} > {{../town.name}}</a>
									<ul class="route-steps" id="townRouteSteps{{@index}}"></ul>
								</li>
							{{/each}}
						</ul>
					</div>

					{{!-- <hr>

					<a class="town-route-fixed-start" id="townRouteFromNearestStation" href="#">{{translate translations.fromNearestStation lang}}</a>

					<hr> --}}

					<input type="text" name="townRouteCustomStart" placeholder="{{translate translations.typeStartingPoint lang}}">

					<div id="townRouteCustomStartHints">
						<ul id="townRouteCustomStartHintsContainer"></ul>
					</div>

					<div class="town-route-container">
						<ul id="townRouteContainerCustom"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="townRelatedSliderSection">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{#if hasRelated}}
					<h3>{{translate translations.exploreTowns lang}}</h3>

					<div id="townRelatedSliderContainer">
						<div id="townRelatedSlider">
							{{#each town.relatedTowns}}
								<div class="town-related-card">
									{{#if useVideoCover}}
										<div class="block-content town-related-card-video">
											<div class="embed-responsive embed-responsive-16by9">
												{{#ifeq videoCover.host 'youtube'}}
													<iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{videoCover.id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
												{{/ifeq}}
												{{#ifeq videoCover.host 'vimeo'}}
													<iframe src="https://player.vimeo.com/video/{{videoCover.id}}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
												{{/ifeq}}
											</div>
										</div>
									{{else}}
										{{#if coverImg.src.url}}
											{{#ifeq ../lang 'it'}}
												<a href="/it/comune/{{key}}">
													<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=300 height=169 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}">
												</a>
											{{else}}
												<a href="/en/town/{{key}}">
													<img class="img-responsive" src="{{cloudinaryUrl coverImg.src width=300 height=169 crop='fill' quality='auto' fetch_format='auto' dpr='auto'}}">
												</a>
											{{/ifeq}}
										{{/if}}
									{{/if}}

									<h6>
										{{#ifeq ../lang 'it'}}
											<a href="/it/comune/{{key}}">{{name}}</a>
										{{else}}
											<a href="/en/town/{{slugEN}}">{{nameEN}}</a>
										{{/ifeq}}
									</h6>
								</div>
							{{/each}}
						</div>

						<div class="town-related-nav" id="townRelatedSliderNavLeft"></div>
						<div class="town-related-nav" id="townRelatedSliderNavRight"></div>
					</div>
				{{else}}
					<h3>{{translate translations.noRelatedTowns lang}}</h3>
				{{/if}}
			</div>
		</div>
	</div>
</section>