<footer>
	<div class="container">
		<div class="row" id="mainFooter">
			<div class="col-md-2" id="footerLogo">
				<img height="90" src="/images/logo.svg">
			</div>

			<div class="col-md-3" id="footerLinks">
				<h5 class="footer-header">Territorio Oltrepo</h5>

				<ul id="footerLinkList">
					<li>
						{{#ifeq lang 'it'}}
							<a href="/it/about">About</a>
						{{else}}
							<a href="/en/about">About</a>
						{{/ifeq}}
					</li>
					<li>
						{{#ifeq lang 'it'}}
							<a href="/it/note-legali">Note legali</a>
						{{else}}
							<a href="/en/legals">Legals</a>
						{{/ifeq}}
					</li>
					<li>
						{{#ifeq lang 'it'}}
							<a href="#" class="app-info">Come funziona</a>
						{{else}}
							<a href="#" class="app-info">How does it work</a>
						{{/ifeq}}
					</li>
				</ul>
			</div>

			<div class="col-md-5" id="footerInfo">
				<h5 class="footer-header">Consorzio Oltrepo</h5>

				<p>Sede legale: Piazza Gramsci, 5 c/o Comune di Pieve di Coriano (MN)<br>Telefono: 0376.1950038 -  Mail: consorzio@oltrepomantovano.eu</p>

				<img class="img-responsive" src="/images/logo-in-lombardia.svg">
			</div>

			<div class="col-md-2" id="footerTools">
				{{!-- <form>
					<div class="form-group">
						<input class="form-control" type="text" name="searchSite" placeholder="Cerca nel sito" value="Cerca nel sito">
					</div>
				</form> --}}

				<div id="socialLinks">
					<a href="https://twitter.com/consorzioopmn" title="twitter.com/consorzioopmn" target="blank">
						<img src="/images/twitter.svg" width="30" height="30">
					</a>
					<a href="https://www.facebook.com/consorzio.oltrepomantovano/" title="www.facebook.com/consorzio.oltrepomantovano" target="blank">
						<img src="/images/facebook.svg" width="30" height="30">
					</a>
				</div>

				<p>
					Concept: <br>
					<a href="http://too-too.it" target="blank" title="too-too.it">Too Design Consultancy</a>
					<br><br>
					<a href="http://www.progettoaru.it" target="blank" title="ARU - Esperienze reali di #microturismo">
						<img width="100" src="/images/logo-aru-white.svg">
					</a>
				</p>
			</div>
		</div>
	</div>

	<div id="subFooter">
		<p>
			D.G. Agricoltura / Bando pubblico per la selezione di progetti presentati da enti pubblici per la valorizzazione del territorio lombardo per la promozione dei temi agricoli e le filiere agroalimentari locali. Anno 2016/2017. Soggetto capofila: Consorzio Oltrepò Mantovano. Progetto: Attrezzature Rurali di Comunità (ARC).
		</p>
	</div>
</footer>