<header id="header" data-lang="{{lang}}">

	<div class="container">
		<div class="row">
			<div class="col-xs-2" id="logo">
				<a href="/{{lang}}" title="Territorio Oltrepo - Homepage">
					<img class="img-responsive" alt="Territorio Oltrepo" src="/images/logo.svg">
				</a>
			</div>

			<div class="col-xs-10" id="menu">
				<h2>{{translate translations.siteTitle lang}}</h2>
			</div>
		</div>
	</div>
</header>
<div style="clear: both;" id="headerClear"></div>