<header id="header" data-lang="{{lang}}">
	<div class="container-fluid">
		<div class="row" id="routeEditor">
			{{> components/routeEditor}}
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-2" id="logo">
				<a href="/{{lang}}" title="Territorio Oltrepo - Homepage">
					<img class="img-responsive" alt="Territorio Oltrepo" src="/images/logo.svg">
				</a>
			</div>

			<div class="col-md-10" id="menu">
				<h2>{{translate translations.siteTitle lang}}</h2>
				
				<ul id="categoryLinks" class="nav nav-pills">
					{{#each categories}}
						<li role="presentation">
							{{#ifeq ../lang 'it'}}
								<a class="category-link {{#ifeq name ../catName}}active{{/ifeq}}" href="/it/argomenti/{{key}}" data-color="{{color}}" data-slug="{{key}}" data-name="{{name}}" data-id="{{id}}">{{ name }}</a>
							{{else}}
								<a class="category-link {{#ifeq nameEN ../catName}}active{{/ifeq}}" href="/en/topics/{{slugEN}}" data-color="{{color}}" data-slug="{{slugEN}}" data-name="{{nameEN}}" data-id="{{id}}">{{ nameEN }}</a>
							{{/ifeq}}
						</li>
					{{/each}}

					<li role="presentation">
						{{#ifeq lang 'it'}}
							<a class="featured-route-link {{#if ../featuredRoutes}}active{{/if}}" href="/it/itinerari/suggeriti">Suggeriti</a>
						{{else}}
							<a class="featured-route-link {{#if ../featuredRoutes}}active{{/if}}" href="/en/routes/featured">Featured</a>
						{{/ifeq}}
					</li>

					<li role="presentation">
						{{#ifeq lang 'it'}}
							<a class="category-search" href="/it/argomenti">
								<span class="search-icon">
									<svg width="100%" height="100%" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
										<g transform="matrix(0.931678,0,0,0.931678,-720.247,-600.557)">
											<path d="M775.65,653.004C775.65,649.789 778.255,647.184 781.468,647.184C784.683,647.184 787.545,650.047 787.545,653.262C787.545,656.477 784.941,659.082 781.726,659.082C778.513,659.082 775.65,656.217 775.65,653.004M794.046,662.76L788.914,657.625C789.687,656.354 790.132,654.859 790.132,653.262C790.132,648.621 786.113,644.598 781.468,644.598C776.826,644.598 773.064,648.361 773.064,653.004C773.064,657.647 777.086,661.668 781.726,661.668C783.271,661.668 784.714,661.248 785.959,660.524L791.121,665.686C791.627,666.19 792.447,666.19 792.949,665.686L794.23,664.406C794.738,663.9 794.552,663.264 794.046,662.76" style="fill:white;fill-rule:nonzero;"/>
										</g>
									</svg>
								</span>
							</a>
						{{else}}
							<a class="category-search" href="/en/topics">
								<span class="search-icon">
									<svg width="100%" height="100%" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
										<g transform="matrix(0.931678,0,0,0.931678,-720.247,-600.557)">
											<path d="M775.65,653.004C775.65,649.789 778.255,647.184 781.468,647.184C784.683,647.184 787.545,650.047 787.545,653.262C787.545,656.477 784.941,659.082 781.726,659.082C778.513,659.082 775.65,656.217 775.65,653.004M794.046,662.76L788.914,657.625C789.687,656.354 790.132,654.859 790.132,653.262C790.132,648.621 786.113,644.598 781.468,644.598C776.826,644.598 773.064,648.361 773.064,653.004C773.064,657.647 777.086,661.668 781.726,661.668C783.271,661.668 784.714,661.248 785.959,660.524L791.121,665.686C791.627,666.19 792.447,666.19 792.949,665.686L794.23,664.406C794.738,663.9 794.552,663.264 794.046,662.76" style="fill:white;fill-rule:nonzero;"/>
										</g>
									</svg>
								</span>
							</a>
						{{/ifeq}}
					</li>

					<li role="presentation">
						<a class="app-info" href="#">
							<span class="info-icon">
								<svg width="100%" height="100%" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
									<g transform="matrix(1.33333,0,0,1.33333,-3.33333,-3.33333)">
										<g transform="matrix(0.700531,0,0,0.700531,-783.95,-1574.04)">
											<path d="M1133.52,2266.82C1134.03,2265.54 1138.3,2259.1 1135.35,2257.33C1133.7,2256.34 1131.41,2256.98 1129.65,2258.14L1129.54,2259.26C1130.57,2258.9 1131.63,2258.9 1131.95,2259.74C1132.72,2261.78 1130.07,2265.35 1129.35,2267.21C1127.38,2272.28 1132.1,2272.87 1135.47,2270.78L1135.6,2269.58C1133.77,2270.07 1132.46,2269.46 1133.52,2266.82" style="fill:white;fill-rule:nonzero;"/>
										</g>
										<g transform="matrix(0.700531,0,0,0.700531,-783.95,-1574.04)">
											<path d="M1135.46,2250.5C1136.77,2250.5 1137.82,2251.56 1137.82,2252.86C1137.82,2254.17 1136.77,2255.23 1135.46,2255.23C1134.15,2255.23 1133.1,2254.17 1133.1,2252.86C1133.1,2251.56 1134.15,2250.5 1135.46,2250.5" style="fill:white;fill-rule:nonzero;"/>
										</g>
									</g>
								</svg>
							</span>
						</a>
					</li>

					<li role="presentation">
						<a class="app-page" href="/{{lang}}/app">
							<span class="app-page-icon">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="20" height="20" viewBox="0, 0, 20, 20">
									<g id="Livello_1">
										<path d="M10.996,1 C11.761,1 12.396,1.635 12.396,2.401 L12.396,3.438 L5.536,3.438 L5.536,3.449 L2.396,3.449 L2.396,15.798 L11.196,15.798 L11.196,12.881 L12.396,12.881 L12.396,17.6 C12.396,18.365 11.761,19 10.996,19 L2.596,19 C1.832,19 1.197,18.365 1.197,17.6 L1.197,2.401 C1.197,1.635 1.832,1 2.596,1 L10.996,1 z" fill="#FFFFFF"/>
										<path d="M8.724,5.78 L10.235,10.703 L9.543,10.703 L9.22,9.56 L7.409,9.56 L7.086,10.703 L6.432,10.703 L7.935,5.78 z M8.318,6.366 L7.567,8.989 L9.062,8.989 z M12.482,6.231 Q13.068,6.231 13.339,6.445 Q13.61,6.659 13.61,7.088 L13.61,7.215 Q13.61,8.17 12.527,8.17 Q12.287,8.17 11.836,8.11 L11.836,6.246 Q12.151,6.231 12.482,6.231 z M12.497,5.69 Q11.836,5.69 11.197,5.727 L11.197,10.703 L11.836,10.703 L11.836,8.658 Q12.219,8.719 12.557,8.719 Q13.407,8.719 13.828,8.335 Q14.248,7.952 14.248,7.245 L14.248,7.065 Q14.248,6.404 13.816,6.047 Q13.384,5.69 12.497,5.69 z M17.037,6.231 Q17.623,6.231 17.894,6.445 Q18.164,6.659 18.164,7.088 L18.164,7.215 Q18.164,8.17 17.082,8.17 Q16.841,8.17 16.391,8.11 L16.391,6.246 Q16.706,6.231 17.037,6.231 z M17.052,5.69 Q16.391,5.69 15.752,5.727 L15.752,10.703 L16.391,10.703 L16.391,8.658 Q16.774,8.719 17.112,8.719 Q17.961,8.719 18.382,8.335 Q18.803,7.952 18.803,7.245 L18.803,7.065 Q18.803,6.404 18.371,6.047 Q17.939,5.69 17.052,5.69 z" fill="#FFFFFF"/>
									</g>
								</svg>
							</span>
						</a>
					</li>

					<li role="presentation" class="lang-switch">
						{{#ifeq lang 'it'}}
							<a href="/en
									{{#if basePathEN}}/{{basePathEN}}{{/if}}
									{{#if slugEN}}/{{slugEN}}{{/if}}">English</a>
						{{else}}
							<a href="/it
									{{#if basePathIT}}/{{basePathIT}}{{/if}}
									{{#if slugIT}}/{{slugIT}}{{/if}}">Italiano</a>
						{{/ifeq}}
					</li>

					<li role="presentation" id="closeMobileNav">x</li>
				</ul>

				<div id="routeEditorToggle">
					<a href="#">
						<span id="routeStepsCounter">&nbsp;</span>
						<span id="routeEditorToggleText">{{translate translations.yourRoute lang}}</span>
					</a>
				</div>

				<div id="mobileNavToggle">
					<span class="hamburger-line first-line"></span>
					<span class="hamburger-line medium-line"></span>
					<span class="hamburger-line last-line"></span>
				</div>
			</div>
		</div>
	</div>
</header>
<div style="clear: both;" id="headerClear"></div>

<div id="appInfoModal">
	<div id="appInfoModalContent">
		<h1>{{translate translations.composeRoute lang}}</h1>
		
		<p>{{{translate translations.navigateMap lang}}}</p>

		<div id="appInfoModalStores">
			<div class="app-info-modal-store-img" id="appStore">
				<a href="https://itunes.apple.com/us/app/quioltrepo/id1353089429" target="blank" title="Qui Oltrepò on the App Store">
					<img class="img-responsive" src="/images/app-store-badge-{{lang}}.png">
				</a>
			</div>
			<div class="app-info-modal-store-img" id="googlePlay">
				<a href="https://play.google.com/store/apps/details?id=io.ionic.too_design" target="blank" title="Qui Oltrepò on Google Play">
					<img class="img-responsive" src="/images/google-play-badge-{{lang}}.png">
				</a>
			</div>
		</div>

		<div id="appInfoModalFooter" class="clearfix">
			<p class="caption">{{translate translations.letInspire lang}}</p>
			{{#ifeq lang 'it'}}
				<a class="btn btn-default" href="/it/itinerari/suggeriti">{{translate translations.featuredRoutesHeading lang}}</a>
			{{else}}
				<a class="btn btn-default" href="/en/routes/featured">{{translate translations.featuredRoutesHeading lang}}</a>
			{{/ifeq}}
		</div>

		<div id="appInfoModalClose">
			<span class="app-info-modal-close-icon"></span>
		</div>
	</div>
</div>

<div id="saveInAppModal">
	<div id="saveInAppModalContent">
		<h1>{{translate translations.saveRouteInApp lang}}</h1>
		
		<div id="saveInAppModalData">
			<div class="save-in-app-modal-col" id="mockup">
				<img class="img-responsive app-mockup" src="/images/app-mockup.jpg">
			</div>

			<div class="save-in-app-modal-col" id="form">
				<form>
					<div class="form-group">
						{{!-- <div 
							style="margin-bottom: 15px;" 
							class="g-recaptcha" 
							data-sitekey="6LeulzoUAAAAAEXejJOeiYB6u5NMjFq9lVbgUpIO" 
							data-callback="saveInAppReCaptchaCallBack"
						></div> --}}
						<div 
							style="margin-bottom: 15px;" 
							class="g-recaptcha" 
							data-sitekey="6Lc5EXoUAAAAAIdZBVNOGFFY58Gijz86zdMBSmv6" 
							data-callback="saveInAppReCaptchaCallBack"
						></div>
					</div>

					{{!-- <button type="submit" class="btn btn-default" id="getRouteCode" disabled="disabled">
						{{translate translations.getRouteCode lang}}
					</button> --}}

					<div id="saveInAppModalPreloader">
						<div class="sk-cube-grid">
							<div class="sk-cube sk-cube1"></div>
							<div class="sk-cube sk-cube2"></div>
							<div class="sk-cube sk-cube3"></div>
							<div class="sk-cube sk-cube4"></div>
							<div class="sk-cube sk-cube5"></div>
							<div class="sk-cube sk-cube6"></div>
							<div class="sk-cube sk-cube7"></div>
							<div class="sk-cube sk-cube8"></div>
							<div class="sk-cube sk-cube9"></div>
						</div>
					</div>
				</form>
			</div>

			<div class="save-in-app-modal-col" id="info">
				<h6 id="routeNameHeading">{{translate translations.routeNameLabel lang}}</h6>
				<h1>{{translate translations.routeIdLabel lang}}: <span id="saveInAppModalRouteID"></span></h1>
				<div id="saveInAppModalDownloadApp">
					<h1>{{translate translations.downloadAppLabel lang}}</h1>
					<h3>{{translate translations.bringRouteWithYou lang}}</h3>
					<p>{{translate translations.downloadAppText lang}}</p>
					<a href="https://itunes.apple.com/us/app/quioltrepo/id1353089429" target="blank" title="Qui Oltrepò on the App Store">
						<img class="img-responsive" src="/images/app-store-badge-{{lang}}.png">
					</a>
					<a href="https://play.google.com/store/apps/details?id=io.ionic.too_design" target="blank" title="Qui Oltrepò on Google Play">
						<img class="img-responsive" src="/images/google-play-badge-{{lang}}.png">
					</a>
				</div>

				<div id="saveInAppModalShareTools">
					<p class="caption">{{translate translations.orLabel lang}}</p>
					<a href="#" class="btn btn-default btn-block save-in-app-share-btn" id="saveInAppModalDownloadPdf" target="blank" role="button" disabled="disabled">
						{{translate translations.downloadRoutePDF lang}}
					</a>

					<form class="form-inline" id="routeEditorSendEmailForm" name="routeEditorSendEmailForm" enctype="multipart/form-data">
						<div class="form-group">
							<input type="email" class="form-control" id="routeEditorDestMail" name="routeEditorDestMail" placeholder="{{translate translations.yourEmailPlaceholder lang}}">
						</div>
						{{!-- <input type="hidden" name="routeEditorFileName" value="{{#ifeq lang 'it'}}{{route.key}}{{else}}{{route.slugEN}}{{/ifeq}}.pdf"> --}}
						<a href="#" class="btn btn-default save-in-app-share-btn" id="saveInAppModalSendByEmail" role="button">
							<div class="sk-cube-grid">
								<div class="sk-cube sk-cube1"></div>
								<div class="sk-cube sk-cube2"></div>
								<div class="sk-cube sk-cube3"></div>
								<div class="sk-cube sk-cube4"></div>
								<div class="sk-cube sk-cube5"></div>
								<div class="sk-cube sk-cube6"></div>
								<div class="sk-cube sk-cube7"></div>
								<div class="sk-cube sk-cube8"></div>
								<div class="sk-cube sk-cube9"></div>
							</div>
						</a>
					</form>
					<p id="routeEditorFeedbackContainer" class="feedback alert hidden"></p>

					<a href="" class="btn btn-default btn-block save-in-app-share-btn" id="saveInAppModalViewRoutePage" role="button" disabled="disabled">
						{{translate translations.viewRoutePage lang}}
					</a>

					{{!-- <div id="saveInAppModalSocialShare">
						<ul>
							<li>{{translate translations.share lang}}</li>
							<li id="tw">
								<a class="save-in-app-social-icon" data-service="twitter" data-url="https://oltrepo-dev.herokuapp.com/it/itinerario/id/5a71e3ce8d135e0004dab754#" href="#">
									<img class="img-responsive" src="/images/routePageTwitterIcon.svg">
								</a>
							</li>
							<li id="fb">
								<a class="save-in-app-social-icon" data-service="facebook" data-url="https://oltrepo-dev.herokuapp.com/it/itinerario/id/5a71e3ce8d135e0004dab754#" href="#">
									<img class="img-responsive" src="/images/routePageFacebookIcon.svg">
								</a>
							</li>
						</ul>
					</div> --}}
				</div>
			</div>
		</div>

		<div id="saveInAppModalClose">
			<span class="save-in-app-modal-close-icon"></span>
		</div>
	</div>
</div>