body {
	color: $textColor;
	background-color: $background;
}

ul {
	list-style-type: none;
	padding: 0;
}

p.caption {
	font-family: 'Montserrat', sans-serif;
	color: $sidebarGrey;
	font-size: 12px;
	margin-top: 10px;
}

[data-lang="en"] ul.route-selector-routes > li > a:after { content: '(Added)'; }
[data-lang="en"] ul.route-selector-routes > li > a.disabled:after { content: '(Added)'; }

[data-lang="it"] ul.route-selector-routes > li > a:after { content: '(Aggiunto)'; }
[data-lang="it"] ul.route-selector-routes > li > a.disabled:after { content: '(Aggiunto)'; }