h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 38px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 28px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

h4 {
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 20px;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

h6.routing {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

p {
	font-family: 'PT Serif', serif;
	font-size: 16px;
}

span { font-family: 'Montserrat', sans-serif; }

.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
}

a {
	font-family: 'Montserrat', sans-serif;
}