$background: #ffffff;
$textColor: rgba(48, 48, 48, 1);
$oltrepoViolet: rgba(172, 56, 110, 1);
$oltrepoCyan: rgba(24, 185, 232, 1);

$etnografia: rgba(178, 133, 206, 1);
$arte: rgba(235, 174, 101, 1);
$musei: rgba(125, 222, 187, 1);
$gastronomia: rgba(201, 103, 101, 1);
$outdoor: rgba(64, 94, 199, 1);

$sidebarGrey: rgba(102, 102, 102, 1);
$mediumGrey: rgba(180, 180, 180, 1);
$lightGrey: rgba(242, 242, 242, 1);
$darkGrey: rgba(30, 30, 30, 1);

// Layout
$headerHeight: 110px;
$stickyHeaderHeight: 46px;
$headerIndex: 2000;
$mobileNavIndex: 20000;

$collapsedRouteEditorHeight: 5px;
$expandedRouteEditorHeight: 600px;
// $expandedRouteEditorHeight: 500px;
$routeEditorTitleHeight: 45px;
$routeEditorToolsHeight: 60px;
$routeEditorListMinHeight: 200px;
$routeEditorListMaxHeight: 400px;
$routeEditorListRouteTitleHeight: 120px;

// Home
$mapHeight: 550px;

// Town
$coverImgHeight: 450px;

// Route Page
$routePageMapHeight: 430px;

// Argument
$argumentTownListHiddenIndex: -100;
$argumentTownListIndex: 1000;

// Footer
$footerMinHeight: 210px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

// Override Bootstrap variables in this file, e.g.
$font-size-base: 16px;
