<body>
	<header id="header" style="background-color: #18b9e8; max-height: 100px; padding: 15px;">
		<div id="logo" style="float: left; margin-right: 15px;">
			<a href="www.itinerarioltrepomantovano.it" title="Territorio Oltrepo - Homepage">
				<svg width="95" height="64" viewBox="0 0 190 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
					<g id="text">
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M405.467,341.566C405.467,345.261 405.641,345.716 406.136,346.624C406.872,347.963 408.536,349.39 410.957,349.39C413.378,349.39 415.042,347.963 415.778,346.624C416.275,345.716 416.447,345.261 416.447,341.566C416.447,337.869 416.275,337.415 415.778,336.508C415.042,335.168 413.378,333.741 410.957,333.741C408.536,333.741 406.872,335.168 406.136,336.508C405.641,337.415 405.467,337.869 405.467,341.566M407.802,341.566C407.802,338.41 407.976,337.978 408.58,337.199C409.054,336.594 409.855,336.076 410.957,336.076C412.06,336.076 412.86,336.594 413.335,337.199C413.941,337.978 414.113,338.41 414.113,341.566C414.113,344.721 413.941,345.153 413.335,345.932C412.86,346.537 412.06,347.055 410.957,347.055C409.855,347.055 409.054,346.537 408.58,345.932C407.976,345.153 407.802,344.721 407.802,341.566" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M418.976,346.602C418.976,348.569 420.187,349.261 421.786,349.261L422.758,349.261L422.758,347.185L422.003,347.185C421.462,347.185 421.181,346.926 421.181,346.429L421.181,333.871L418.976,333.871L418.976,346.602Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M424.683,338.302L423.579,338.302L423.579,339.988L424.683,339.988L424.683,346.558C424.683,348.288 425.806,349.261 427.34,349.261L428.486,349.261L428.486,347.186L427.665,347.186C427.124,347.186 426.886,346.969 426.886,346.365L426.886,339.988L428.486,339.988L428.486,338.302L426.886,338.302L426.886,334.974L424.683,334.974L424.683,338.302Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M430.561,349.261L432.765,349.261L432.765,342.668C432.765,341.069 433.823,340.378 434.905,340.378C435.467,340.378 435.835,340.528 436.352,340.917L437.953,339.015C437.283,338.496 436.547,338.172 435.662,338.172C434.496,338.172 433.499,338.604 432.809,339.469L432.765,339.469L432.765,338.303L430.561,338.303L430.561,349.261Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M447.463,344.613L447.463,342.798C447.463,339.966 445.366,338.171 442.945,338.171C440.827,338.171 438.428,339.555 438.428,343.813C438.428,348.309 441.044,349.389 443.291,349.389C444.761,349.389 446.165,348.87 447.247,347.617L445.648,346.256C444.999,346.925 444.091,347.315 443.249,347.315C441.735,347.315 440.634,346.406 440.634,344.613L447.463,344.613ZM440.634,342.798C440.677,341.133 441.649,340.247 442.945,340.247C444.242,340.247 445.194,341.133 445.259,342.798L440.634,342.798Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M449.775,353.691L451.979,353.691L451.979,348.093C452.801,348.871 453.688,349.39 454.811,349.39C456.151,349.39 457.124,348.784 457.751,347.963C458.356,347.186 458.528,346.472 458.528,343.792C458.528,341.09 458.356,340.377 457.751,339.599C457.124,338.777 456.151,338.171 454.811,338.171C453.688,338.171 452.671,338.691 451.979,339.448L451.979,338.302L449.775,338.302L449.775,353.691ZM454.141,347.186C452.088,347.186 451.979,345.37 451.979,343.792C451.979,342.193 452.088,340.377 454.141,340.377C456.215,340.377 456.325,342.085 456.325,343.792C456.325,345.478 456.215,347.186 454.141,347.186" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M460.453,343.77C460.453,346.148 460.8,347.055 461.641,347.984C462.247,348.655 463.263,349.39 464.971,349.39C466.678,349.39 467.694,348.655 468.3,347.984C469.141,347.055 469.487,346.148 469.487,343.77C469.487,341.414 469.141,340.506 468.3,339.577C467.694,338.908 466.678,338.171 464.971,338.171C463.263,338.171 462.247,338.908 461.641,339.577C460.8,340.506 460.453,341.414 460.453,343.77M467.283,343.792C467.283,345.37 467.153,345.802 466.743,346.386C466.418,346.839 465.727,347.186 464.971,347.186C464.213,347.186 463.522,346.839 463.198,346.386C462.786,345.802 462.657,345.37 462.657,343.77C462.657,342.193 462.786,341.76 463.198,341.176C463.522,340.722 464.213,340.377 464.971,340.377C465.727,340.377 466.418,340.722 466.743,341.176C467.153,341.76 467.283,342.193 467.283,343.792M464.819,336.896L466.634,336.896L464.645,333.741L461.75,333.741L464.819,336.896Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M477.183,349.261L479.517,349.261L479.517,339.664L479.56,339.664L482.781,347.055L484.726,347.055L487.947,339.664L487.99,339.664L487.99,349.261L490.324,349.261L490.324,333.871L488.119,333.871L483.796,343.9L479.387,333.871L477.183,333.871L477.183,349.261Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M498.688,349.261L500.893,349.261L500.893,341.782C500.893,339.081 499.034,338.172 496.333,338.172C494.689,338.172 493.479,338.604 492.635,339.772L494.366,341.09C494.753,340.464 495.294,340.247 496.441,340.247C498.018,340.247 498.688,340.615 498.688,341.652L498.688,342.798L495.64,342.798C493.285,342.798 492.075,344.289 492.075,346.04C492.075,347.941 493.501,349.39 495.943,349.39C497.434,349.39 498.191,349.044 498.645,348.288L498.688,348.288L498.688,349.261ZM498.688,345.413C498.688,347.121 498.061,347.315 496.224,347.315C494.734,347.315 494.15,346.667 494.15,345.932C494.15,345.133 494.753,344.614 496.051,344.614L498.688,344.614L498.688,345.413Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M503.745,349.261L505.95,349.261L505.95,342.733C505.95,341.241 506.88,340.378 508.134,340.378C509.366,340.378 510.294,341.241 510.294,342.733L510.294,349.261L512.5,349.261L512.5,341.976C512.5,339.491 510.554,338.172 508.847,338.172C507.679,338.172 506.686,338.604 505.994,339.469L505.95,339.469L505.95,338.303L503.745,338.303L503.745,349.261Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M515.482,338.302L514.379,338.302L514.379,339.988L515.482,339.988L515.482,346.558C515.482,348.288 516.606,349.261 518.141,349.261L519.286,349.261L519.286,347.186L518.464,347.186C517.924,347.186 517.686,346.969 517.686,346.365L517.686,339.988L519.286,339.988L519.286,338.302L517.686,338.302L517.686,334.974L515.482,334.974L515.482,338.302Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M520.82,343.77C520.82,346.148 521.167,347.055 522.008,347.984C522.614,348.655 523.63,349.39 525.338,349.39C527.046,349.39 528.061,348.655 528.667,347.984C529.509,347.055 529.856,346.148 529.856,343.77C529.856,341.414 529.509,340.506 528.667,339.577C528.061,338.908 527.046,338.171 525.338,338.171C523.63,338.171 522.614,338.908 522.008,339.577C521.167,340.506 520.82,341.414 520.82,343.77M527.651,343.792C527.651,345.37 527.52,345.802 527.11,346.386C526.786,346.839 526.094,347.186 525.338,347.186C524.581,347.186 523.889,346.839 523.565,346.386C523.155,345.802 523.025,345.37 523.025,343.77C523.025,342.193 523.155,341.76 523.565,341.176C523.889,340.722 524.581,340.377 525.338,340.377C526.094,340.377 526.786,340.722 527.11,341.176C527.52,341.76 527.651,342.193 527.651,343.792" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M534.632,349.261L536.448,349.261L540.468,338.303L538.134,338.303L535.562,345.975L535.519,345.975L532.946,338.303L530.612,338.303L534.632,349.261Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M547.514,349.261L549.718,349.261L549.718,341.782C549.718,339.081 547.86,338.172 545.16,338.172C543.515,338.172 542.306,338.604 541.462,339.772L543.191,341.09C543.58,340.464 544.12,340.247 545.267,340.247C546.844,340.247 547.514,340.615 547.514,341.652L547.514,342.798L544.466,342.798C542.111,342.798 540.9,344.289 540.9,346.04C540.9,347.941 542.326,349.39 544.769,349.39C546.261,349.39 547.017,349.044 547.472,348.288L547.514,348.288L547.514,349.261ZM547.514,345.413C547.514,347.121 546.888,347.315 545.051,347.315C543.559,347.315 542.976,346.667 542.976,345.932C542.976,345.133 543.58,344.614 544.878,344.614L547.514,344.614L547.514,345.413Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M552.571,349.261L554.776,349.261L554.776,342.733C554.776,341.241 555.706,340.378 556.959,340.378C558.192,340.378 559.12,341.241 559.12,342.733L559.12,349.261L561.325,349.261L561.325,341.976C561.325,339.491 559.38,338.172 557.673,338.172C556.505,338.172 555.51,338.604 554.819,339.469L554.776,339.469L554.776,338.303L552.571,338.303L552.571,349.261Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M563.638,343.77C563.638,346.148 563.984,347.055 564.826,347.984C565.432,348.655 566.449,349.39 568.156,349.39C569.863,349.39 570.879,348.655 571.484,347.984C572.327,347.055 572.673,346.148 572.673,343.77C572.673,341.414 572.327,340.506 571.484,339.577C570.879,338.908 569.863,338.171 568.156,338.171C566.449,338.171 565.432,338.908 564.826,339.577C563.984,340.506 563.638,341.414 563.638,343.77M570.468,343.792C570.468,345.37 570.339,345.802 569.927,346.386C569.605,346.839 568.911,347.186 568.156,347.186C567.399,347.186 566.706,346.839 566.384,346.386C565.972,345.802 565.843,345.37 565.843,343.77C565.843,342.193 565.972,341.76 566.384,341.176C566.706,340.722 567.399,340.377 568.156,340.377C568.911,340.377 569.605,340.722 569.927,341.176C570.339,341.76 570.468,342.193 570.468,343.792" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M412.534,323.959C411.979,325.145 411.128,325.756 410.014,325.756C409.069,325.756 408.386,325.312 407.977,324.793C407.459,324.126 407.311,323.755 407.311,321.05C407.311,318.346 407.459,317.975 407.977,317.308C408.386,316.789 409.069,316.345 410.014,316.345C411.275,316.345 412.22,317.235 412.534,318.253L414.647,318.253C414.239,316.105 412.516,314.344 410.014,314.344C407.94,314.344 406.514,315.567 405.884,316.716C405.458,317.494 405.309,317.882 405.309,321.05C405.309,324.218 405.458,324.608 405.884,325.386C406.514,326.534 407.94,327.756 410.014,327.756C412.275,327.756 414.128,326.423 414.647,323.959L412.534,323.959Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M415.426,322.94C415.426,324.978 415.722,325.756 416.444,326.553C416.962,327.127 417.834,327.756 419.298,327.756C420.761,327.756 421.632,327.127 422.15,326.553C422.872,325.756 423.169,324.978 423.169,322.94C423.169,320.92 422.872,320.142 422.15,319.346C421.632,318.771 420.761,318.141 419.298,318.141C417.834,318.141 416.962,318.771 416.444,319.346C415.722,320.142 415.426,320.92 415.426,322.94M421.28,322.958C421.28,324.311 421.169,324.681 420.816,325.182C420.538,325.57 419.947,325.867 419.298,325.867C418.65,325.867 418.056,325.57 417.779,325.182C417.426,324.681 417.316,324.311 417.316,322.94C417.316,321.587 417.426,321.217 417.779,320.717C418.056,320.327 418.65,320.031 419.298,320.031C419.947,320.031 420.538,320.327 420.816,320.717C421.169,321.217 421.28,321.587 421.28,322.958" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M425.151,327.645L427.041,327.645L427.041,322.051C427.041,320.772 427.837,320.031 428.913,320.031C429.967,320.031 430.764,320.772 430.764,322.051L430.764,327.645L432.653,327.645L432.653,321.402C432.653,319.272 430.987,318.141 429.523,318.141C428.523,318.141 427.671,318.513 427.078,319.253L427.041,319.253L427.041,318.252L425.151,318.252L425.151,327.645Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M434.063,326.071C435.267,327.202 436.675,327.757 438.195,327.757C440.38,327.757 442.085,326.701 442.085,324.867C442.085,323.366 441.307,322.181 439.361,322.051L437.806,321.939C436.861,321.865 436.563,321.458 436.563,321.05C436.563,320.403 436.972,319.92 438.175,319.92C439.195,319.92 439.955,320.272 440.695,320.791L441.863,319.42C440.936,318.643 439.825,318.141 438.175,318.141C436.193,318.141 434.674,319.124 434.674,321.032C434.674,322.644 435.822,323.57 437.378,323.699L439.046,323.848C439.695,323.903 440.195,324.107 440.195,324.774C440.195,325.571 439.417,325.978 438.342,325.978C437.084,325.978 436.193,325.571 435.378,324.774L434.063,326.071Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M443.529,322.94C443.529,324.978 443.826,325.756 444.549,326.553C445.067,327.127 445.938,327.756 447.401,327.756C448.864,327.756 449.736,327.127 450.255,326.553C450.976,325.756 451.273,324.978 451.273,322.94C451.273,320.92 450.976,320.142 450.255,319.346C449.736,318.771 448.864,318.141 447.401,318.141C445.938,318.141 445.067,318.771 444.549,319.346C443.826,320.142 443.529,320.92 443.529,322.94M449.383,322.958C449.383,324.311 449.272,324.681 448.921,325.182C448.641,325.57 448.05,325.867 447.401,325.867C446.753,325.867 446.16,325.57 445.883,325.182C445.53,324.681 445.419,324.311 445.419,322.94C445.419,321.587 445.53,321.217 445.883,320.717C446.16,320.327 446.753,320.031 447.401,320.031C448.05,320.031 448.641,320.327 448.921,320.717C449.272,321.217 449.383,321.587 449.383,322.958" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M453.255,327.645L455.146,327.645L455.146,321.996C455.146,320.624 456.054,320.031 456.98,320.031C457.461,320.031 457.776,320.161 458.22,320.495L459.593,318.864C459.017,318.419 458.388,318.141 457.628,318.141C456.627,318.141 455.776,318.513 455.183,319.253L455.146,319.253L455.146,318.252L453.255,318.252L453.255,327.645Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M460.406,327.645L467.409,327.645L467.409,325.867L462.704,325.867L467.409,319.754L467.409,318.252L460.667,318.252L460.667,319.92L465.112,319.92L460.406,326.145L460.406,327.645Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M469.299,327.645L471.19,327.645L471.19,318.252L469.299,318.252L469.299,327.645ZM469.299,316.345L471.19,316.345L471.19,314.455L469.299,314.455L469.299,316.345Z" style="fill:white;"/>
				        </g>
				        <g transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
				            <path d="M473.227,322.94C473.227,324.978 473.523,325.756 474.245,326.553C474.763,327.127 475.635,327.756 477.098,327.756C478.561,327.756 479.432,327.127 479.953,326.553C480.674,325.756 480.97,324.978 480.97,322.94C480.97,320.92 480.674,320.142 479.953,319.346C479.432,318.771 478.561,318.141 477.098,318.141C475.635,318.141 474.763,318.771 474.245,319.346C473.523,320.142 473.227,320.92 473.227,322.94M479.081,322.958C479.081,324.311 478.97,324.681 478.619,325.182C478.34,325.57 477.747,325.867 477.098,325.867C476.45,325.867 475.857,325.57 475.579,325.182C475.227,324.681 475.116,324.311 475.116,322.94C475.116,321.587 475.227,321.217 475.579,320.717C475.857,320.327 476.45,320.031 477.098,320.031C477.747,320.031 478.34,320.327 478.619,320.717C478.97,321.217 479.081,321.587 479.081,322.958" style="fill:white;"/>
				        </g>
					</g>
					<g id="logo" transform="matrix(1.00393,0,0,1.00129,-384.923,-254.621)">
						<path d="M412.001,254.293C411.118,255.848 409.551,258.586 409.331,261.105C409.286,261.622 409.239,262.47 409.423,262.946C409.855,264.071 412.821,264.609 410.712,265.8C414.112,268.404 417.253,271.042 420.746,273.625C421.864,274.452 423.071,275.544 424.704,275.559C425.202,275.179 425.106,274.731 425.44,274.27C426.015,273.48 427.146,273.133 427.282,272.244C427.587,270.259 424.831,268.067 424.704,265.8C419.482,263.044 418.394,256.154 412.276,254.293L412.001,254.293ZM412.337,284.62C412.091,284.234 411.468,284.345 410.849,284.458C410.337,284.549 409.827,284.641 409.524,284.457C409.333,283.962 410.323,283.571 409.944,283.468C403.233,286.971 398.47,292.374 395.187,298.186C395.622,297.831 396.312,296.995 396.919,297.292C396.399,298.418 395.587,299.678 393.907,299.667C393.044,300.905 394.067,302.626 394.353,304.159C392.712,306.053 391.345,308.369 389.925,310.359C389.433,311.049 388.784,311.639 388.54,312.413C388.815,312.362 389.014,312.413 389.212,312.463C389.355,312.499 389.499,312.535 389.671,312.533C387.928,313.774 389.438,317.898 387.783,318.934C387.472,318.423 387.778,317.758 387.462,317.307C387.175,319.048 385.861,320.013 385.784,321.911C385.425,321.162 385.201,320.233 384.722,319.644C384.534,321.214 384.542,322.931 383.97,324.211C383.855,324.286 383.73,324.236 383.626,324.184C383.487,324.116 383.39,324.047 383.423,324.288C384.325,329.256 384.081,335.437 385.821,340.034C385.643,340.098 385.46,340.06 385.289,340.022C385.066,339.973 384.862,339.923 384.714,340.097C386.093,342.487 386.671,345.723 387.702,348.136C388.09,349.038 388.612,349.651 389.052,350.457C389.723,351.685 390.118,353.039 390.696,354.223C397.009,367.16 408.327,376.153 421.624,379.81C426.605,381.18 432.414,382.109 438.599,381.516C446.95,380.714 453.331,378.335 458.831,375.325C460.856,374.217 462.888,373.001 464.528,371.549C466.126,370.137 467.874,368.659 468.771,366.677C468.759,366.332 470.989,364.456 470.888,364.231C471.326,363.311 474.173,359.545 471.456,359.776C468.253,364.192 469.087,362.654 466.388,364.318C463.708,365.967 459.293,369.044 457.347,369.398C457.866,369.539 458.44,369.606 458.737,370.039C457.72,371.283 454.765,371.502 453.993,372.659C453.804,372.08 453.577,371.553 453.464,370.874C452.611,371.993 450.403,371.744 448.814,372.177C448.739,372.611 448.61,373.002 448.421,373.349C447.775,373.395 447.202,373.255 446.657,373.115C446.156,372.986 445.679,372.857 445.192,372.874C444.017,372.914 442.835,373.26 441.636,373.372C434.204,374.075 427.008,372.613 421.112,370.214C418.131,369.001 415.307,367.766 412.881,365.887C408.778,362.708 404.864,359.411 402.089,354.574C402.011,354.387 401.907,354.399 401.811,354.411C401.718,354.423 401.634,354.433 401.581,354.274C401.03,352.832 400.415,351.76 399.845,350.521C398.521,347.642 397.421,344.667 396.742,341.01C395.529,334.477 396.799,328.337 397.837,323.006C398.14,323.016 398.292,322.914 398.358,322.747C399.217,315.913 401.884,310.158 406.015,305.774C410.13,301.405 415.192,297.243 422.285,295.214C422.546,295.192 422.131,294.663 422.391,294.641C425.73,294.385 428.228,292.791 431.64,292.319C431.179,292.209 430.489,292.401 430.286,291.951C431.618,290.912 434.048,291.091 435.953,290.597C436.647,290.883 436.769,291.884 437.446,291.968C438.782,292.131 438.947,290.334 440.159,290.098C441.94,290.772 444.401,290.934 446.445,291.167C447.121,291.245 448.046,291.152 448.397,291.823C448.397,292.395 447.106,291.993 447.002,292.483C449.286,292.266 451.663,291.641 453.237,292.537C453.306,292.751 453.099,292.758 453.21,293.006C458.421,294.04 462.846,296.345 466.692,299.427C470.784,302.707 470.839,302.052 473.869,306.488C478.04,309.407 471.158,299.478 467.903,296.013C466.025,294.137 473.452,297.265 463.487,290.63C454.271,284.245 442.023,281.257 429.683,283.018C429.091,283.103 428.487,283.104 428.118,283.146C427.134,283.256 426.101,283.934 425.071,283.945C424.646,283.951 424.276,283.803 423.884,283.656C423.493,283.508 423.079,283.361 422.571,283.367C422.683,283.796 423.017,283.933 423.013,284.514C421.974,284.623 420.856,285.466 420.042,285.21C419.812,285.795 418.803,285.797 418.218,286.117C418.112,286.154 418.149,286.046 418.173,285.939C418.198,285.819 418.208,285.7 417.983,285.777C416.869,286.289 415.616,287.065 414.374,287.215C413.745,288.103 412.638,289.053 411.507,289.292C411.409,288.23 411.134,287.406 410.378,287.219C412.22,284.886 415.029,283.28 417.565,281.468C415.659,282.396 413.933,283.459 412.337,284.62M471.653,362.647C469.975,364.986 467.381,367.21 464.751,368.906C467.18,366.947 469.622,365.002 471.653,362.647M464.751,368.906C467.381,367.21 469.975,364.986 471.653,362.647C469.622,365.002 467.18,366.947 464.751,368.906" style="fill:white;fill-rule:nonzero;"/>
					</g>
				</svg>
			</a>
		</div>

		<div id="menu" style="float: right; margin-top: 10px;">
			<h2 style="color: #ffffff;">{{routeMailTitle}}</h2>
		</div>

		<div style="clear: both;"></div>
	</header>

	<section>
		<h6 style="font-size: 14px; font-weight: 700;">{{routeMailHead}}</h6>
		<h6 style="font-size: 14px; font-weight: 400;">{{routeMailIDLabel}}: <span style="font-weight: 700; color: #18b9e8;">{{routeCode}}</span></h6>

		<p style="font-size: 12px;">
			{{routeMailText1}} <span style="font-weight: 700;">{{routeName}}</span> {{routeMailText2}}.
		</p>

		<p style="font-size: 12px;">
			{{routeMailAppDownloadText}}: <br><br>
			<a href="https://itunes.apple.com/us/app/quioltrepo/id1353089429">
				<img width="200" src="{{appStoreImg}}">
			</a>
			<a href="https://play.google.com/store/apps/details?id=io.ionic.too_design">
				<img width="200" src="{{googlePlayImg}}">
			</a>
		</p>
		<br>

		<h6 style="font-size: 14px; font-weight: 700;">{{routeMailTnxLabel}}</h6>
		
		<hr style="color: #18b9e8; background-color: #18b9e8;">

		<p style="font-size: 10px;">{{routeMailDisclaimer1}} <em>"{{routeMailDisclaimer2}}"</em> {{routeMailDisclaimer3}}.</p>
		<br><br>
	</section>
</body>