<div id="routeEditorTitle">
	<div class="container">
		<div class="row">
			<div class="col-md-1 col-xs-1 col-xs-offset-1" id="routeEditorTitleIcon"></div>
			<div class="col-md-8 col-xs-8">
				<h5>{{translate translations.yourRoute lang}}</h5>
			</div>
			<div class="col-md-1 col-xs-1" id="routeEditorCloseIcon">
				<span></span>
			</div>
		</div>
	</div>
</div>

<div id="routeEditorTools">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" id="routeEditorToolsContainer">
				<span>{{translate translations.whereDoYouStart lang}}</span>
				<input type="text" name="routeEditorRouteCustomStart" placeholder="{{translate translations.typeStartingPoint lang}}">
				<a class="route-editor-route-fixed-start" id="route-editorRouteFromNearestToll" href="#">{{translate translations.fromNearestToll lang}}</a>
				<a class="route-editor-route-fixed-start" id="route-editorRouteFromNearestStation" href="#">{{translate translations.fromNearestStation lang}}</a>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

<div id="routeEditorList">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>

			<div class="col-md-5" id="routeEditorListContainer">
				<div class="btn-group" id="routeEditorListRouteTitle">
					<div class="input-group">
						<input type="text" class="form-control" aria-label="..." name="routeName" disabled>
						<a href="#" id="routeEditorDeleteRoute" data-toggle="tooltip">{{translate translations.deleteRoute lang}}</a>
						<a href="#" id="routeEditorEditRouteName">{{translate translations.editRouteName lang}}</a>
						<a href="#" id="routeEditorSaveRouteName">{{translate translations.saveRouteName lang}}</a>
						
						{{!-- <a href="#" id="routeEditorCreateNewRoute" data-toggle="tooltip">{{translate translations.createNewRoute lang}}</a> --}}

						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
							</button>

							<ul id="routeEditorListSelectRoute" class="dropdown-menu dropdown-menu-right"></ul>
						</div>
					</div>
				</div>

				<ul id="routeEditorSteps"></ul>
			</div>

			{{!-- <div class="col-md-5 hidden" id="routeEditorListNoRoutes">
				<h3>{{translate translations.noSavedRoute lang}}</h3>

				<div>
					<a href="#" class="btn btn-default" id="routeEditorCreateNewRoute">{{translate translations.createNewRoute lang}}</a>
				</div>
			</div> --}}

			<div class="col-md-5" id="routeEditorMapContainer">
				<div id="routeEditorMap"></div>
				<div id="routeEditorMapInfo">
					<span class="routeEditorMapStartAddress">
						{{translate translations.personalRouteStart lang}}
						<span class="route-editor-personal-route-start">&nbsp;</span> -  <span class="route-editor-personal-route-duration">&nbsp;</span>
					</span>
					<br>
					<a href="">{{translate translations.openInGMaps lang}}</a>
				</div>
			</div>

			<div class="col-md-1"></div>
		</div>
	</div>

	<div class="container-fluid" id="routeEditorListSeparator"></div>

	<div class="container" id="routeEditorListTools">
		<div class="row">
			<div class="col-md-1"></div>

			{{!-- <div class="col-md-5" id="routeEditorListAddStep">
				<a href="#" class="btn " disabled="disabled">{{translate translations.addStepToRoute lang}}</a>
			</div> --}}

			<div class="col-md-5" id="routeEditorListAddNewRoute">
				<span></span>
				<a href="#" id="routeEditorCreateNewRoute" data-toggle="tooltip">
					{{translate translations.createNewRoute lang}}
					<span id="routeEditorListAddNewRouteLinkIcon"></span>
				</a>

				<div id="routeEditorNewRouteInputContainer">
					<input type="text" name="routeEditorNewRoute">
					<a class="route-editor-submit-new-route-name"><span></span></a>
				</div>
			</div>

			<div class="col-md-5" id="routeEditorListSaveInApp">
				{{!-- <span>{{translate translations.bringRouteWithYou lang}}</span> --}}
				<span></span>
				<a id="routeEditorListSaveInAppLink" href="#">
					{{!-- {{translate translations.saveRouteInApp lang}} --}}
					{{translate translations.useThisRoute lang}}
					<span id="routeEditorListSaveInAppLinkIcon"></span>
				</a>
			</div>

			<div class="col-md-1"></div>
		</div>
	</div>
</div>