#aboutPage {
	padding-top: 60px;

	div.row { 
		margin-bottom: 90px;

		&#mainText {
			h2 {
				color: $oltrepoViolet;
				margin-bottom: 60px;
				line-height: 3.75rem;
			}

			p { 
				margin-bottom: 30px; 

				a {
					font-family: 'PT Serif', serif;
					font-size: 16px;
					color: $textColor;
					text-decoration: underline;
					font-weight: 700;
				}
			}
		}

		&#logos {
			div#logoInLombardia {
				border-right: 1px solid rgba( $textColor, .5 );
				padding-right: 30px;
			}
			div#logoColors {
				padding-left: 30px;
			}
		}
	}
}