#appInfoModal {
	z-index: -3000;
	width: 100vw;
	height: 100vh;
	background-color: rgba($darkGrey, .75);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;

	@include transition( all .3s ease );
	
	&.on {
		opacity: 1;
		z-index: 3000;

		#appInfoModalContent {
			@include transform( scale(1) );
		}
	}

	#appInfoModalContent {
		position: relative;
		width: 37.5%;
		height: 40%;
		background-color: $oltrepoViolet;
		color: white;
		min-height: 372px;

		@include transition( all .3s ease );
		@include transform( scale(0) );

		h1 { 
			font-size: 28px; 
			padding: 15px 30px;
		}

		p:not(.caption) { 
			margin-bottom: 30px;
			padding: 0 30px;
			font-size: 14px;
		}
		
		div#appInfoModalStores {
			display: flex;
			justify-content: space-between;
			padding: 0 30px;
			margin-bottom: 30px;

			div.app-info-modal-store-img { width: 48%; }
		}

		div#appInfoModalFooter {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 30px;
			border-top: 5px solid white;
			min-height: 107px;

			p.caption { 
				color: white;
				width: 48%;
			}

			a.btn {
				width: 48%;
				height: 40px;
				background-color: transparent;
				color: white;
				margin-left: 15px;
				border-color: white;

				@include transition(all .3s ease);

				&:hover {
					background-color: white;
					color: $oltrepoViolet;
				}
			}
		}

		div#appInfoModalClose {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			background-color: white;

			span.app-info-modal-close-icon {
				background-image: url(img/routeEditorCloseIconViolet.svg);
				background-size: 50%;
				background-repeat: no-repeat;
				background-position: center center;
				display: inline-block;
				width: 30px;
				height: 30px;

				@include transition( all .3s ease );

				&:hover {
					cursor: pointer;
					
					@include rotate(180);
				}
			}
		}
	}
}