#appPage {
	background-color: $oltrepoCyan;
	padding-top: 90px;

	div.row { 
		margin-bottom: 90px;

		&#titleAndStores {
			h1 {
				color: white;
				margin-top: 0;

				span.violet { color: $oltrepoViolet; }
			}

			#appStore { margin-bottom: 30px; }
		}

		&#websiteButton {
			a {
				background-color: transparent;
				color: white;
				border: 1px solid white;

				@include border-radius( 2px );
				@include transition( all .3s ease );

				&:hover {
					background-color: white;
					color: $oltrepoCyan;
				}
			}
		}
	}
}