#categoryTools {
	background-color: $textColor;
	color: white;
	height: 350px;

	h1 {
		text-transform: uppercase;
		margin-top: 75px;
		margin-bottom: 30px;
	}

	h2 { margin-bottom: 20px; }

	div#filterInput {

		input#mainFilterInput {
			border: none;
			height: 30px;
			width: 300px;
			padding: 5px 7px;
			color: $textColor;
			font-family: 'Montserrat', sans-serif;
		}

		span.searchIcon {
			width: 20px;
			height: 20px;
			display: inline-block;
			top: 6px;
			position: relative;
			left: 10px;
		}

		div#suggestionsContainer {
			width: 300px;
			padding: 7px 10px;
			background-color: white;
			margin-top: 1px;
			display: none;

			@include border-radius(4px);
			@include box-shadow(0px, 0px, 30px, rgba(white, 0.25));

			a.suggestion-link {
				color: $textColor;
				margin-right: 10px;
				float: left;

				&:before { 
					white-space: nowrap;
					content: '\29BF\0020'; 
				}
			}
		}
	}

	div#categoryMap { 
		height: 250px; 
		margin-top: 40px;

		button.mapboxgl-popup-close-button { display: none; }

		div.category-popup-container {
			padding: 10px 15px;
		}
	}
}

#categoryFilters {
	height: 75px;
	border-bottom: 1px solid $sidebarGrey;

	select#filterByCategorySelect {
		background-color: white;
		border: none;
		height: 44px;
		width: 100%;
		color: $sidebarGrey;
		font-family: 'Montserrat', sans-serif;
		border: 1px solid $sidebarGrey;
		padding: 10px 15px;

		margin: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;

		margin-top: 15px;

		// @include border-radius(0);

		background-image: url('img/chevron-down.svg');
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-position: 92.5% 50%;
	}

	div#filterTags {
		margin-top: 15px;
		height: 45px;

		span.filter-tag {
			position: relative;
			height: 100%;

			a.filter-tag-link {
				font-size: 16px;
				display: inline-block;
				position: relative;

				pointer-events: none;

				&.enabled { 
					pointer-events: auto; 
				}
			}

			span.filter-tag-icon {
				display: inline-block;
				width: 15px;
				height: 15px;
				// margin-right: 30px;
				top: 3px;
				position: relative;

				background-image: url('img/filterTagIconInactive.svg');
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 15px 30px;

				@include transition(all .3s ease);

				&.enabled { background-image: url('img/filterTagIconDelete.svg'); }

				&.remove-tag { background-position: 0 -15px; }
			}

			span.filter-tag-separator {
				display: inline-block;
				width: 40px;
				height: 10px;
				background-image: url('img/chevron-right.svg');
				background-position: 35% 50%;
				background-repeat: no-repeat;
				background-size: 10px 10px;
			}
		}
	}

	a#categoryFiltersResetFilters {
		margin-top: 15px;
		height: 40px;
		font-size: 14px;
		font-weight: 400;
		border-color: $sidebarGrey;
		color: $sidebarGrey;

		// @include border-radius(0);
		@include transition(all .3s ease);

		&:hover {
			background-color: $sidebarGrey;
			color: white;
		}
	}
}

#categoryArguments {
	padding-top: 90px;
	background-color: $lightGrey;

	div.category-argument-card {
		margin-bottom: 60px;
		max-height: 175px;
		overflow: hidden;
		display: none;

		div.category-argument-card-image {
			
		}

		div.category-argument-card-data {
			height: 175px;

			h5 {
				margin-top: 0;
				margin-bottom: 15px;

				$font-size: 16px;
				$line-height: 1.2;
				$lines-to-show: 2;

				display: block;
				display: -webkit-box;
				max-width: 400px;
				// height: $font-size*$line-height*$lines-to-show;
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;

				a { color: $textColor; }
			}

			a.caption {
				color: $mediumGrey;
				margin-top: 3px;
    			display: inline-block;
    			margin-bottom: 5px;
			}

			p {
				$font-size: 13px;
				$line-height: 1.3;
				$lines-to-show: 3;

				display: block; /* Fallback for non-webkit */
				display: -webkit-box;
				max-width: 400px;
				// height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				// margin-top: 5px;
			}

			a.category-read-more-link {
				font-family: 'PT Serif', serif;
				font-weight: 700;
				color: $textColor;
			}

			a.category-add-to-route-link {
				display: inline-block;
				width: 100%;
				color: $oltrepoViolet;
				// background-color: white;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 40px;
				position: absolute;
				bottom: 0;
				left: 15px;

				&:before {
					display: inline-block;
					content: '';
					width: 20px;
					height: 20px;
					background-image: url('img/addToRoutePopoup.svg');
					background-size: 20px 20px;
					background-repeat: no-repeat;
					background-position: 50%;
					margin-right: 10px;
					top: 5px;
					position: relative;
				}
			}
		}
	}

	div#addAllToRoute {
		text-align: center;

		a#addAllToRouteLink {
			display: inline-block;
			display: none;
			width: 188px;
			height: 48px;
			margin: auto;
			text-transform: uppercase;
			color: $textColor;
			font-size: 14px;
			font-weight: 500;
			line-height: 40px;
			margin-bottom: 30px;

			background-image: url('img/addAllToRoute.svg');
			background-repeat: no-repeat;
			background-position: 50%;
		}
	}
}