div#argumentBackToDidactics {
	background-color: white;
	padding-top: 25px;
	padding-bottom: 30px;

	&.gray-bg { background-color: $lightGrey; }

	a {
		color: $sidebarGrey;
		text-transform: uppercase;
		font-size: 14px;
		display: inline-block;
		position: relative;
		margin: 0;

		span.back-to-didactics-icon {
			background-image: url(img/chevron-left.svg);
			background-repeat: no-repeat;
			background-size: 15px 14px;
			width: 20px;
			height: 20px;
			display: inline-block;
			position: relative;
			top: 8px;
		}
	}
}

div#argumentContributions {
	background-color: $lightGrey;
	padding: 30px 0;

	h2 { margin-bottom: 30px; }

	a { 
		margin-top: 0;
		color: $sidebarGrey;
		font-weight: 700;
		font-size: 12px;

		&:after {
			content: '';
			position: absolute;
			width: 7px;
			height: 7px;
			margin-left: 6px;
			margin-top: 6px;
			background-image: url(img/chevron-external-link.svg);
		}
	}

	p { 
		margin-bottom: 20px;
		margin-top: 3px;
	}
}

div#argumentContainer {

	div#argumentTools {
		padding: 30px 0;

		a.argument-town-link {
			color: $sidebarGrey;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 40px;
		}

		a#argumentTownListToggle {
			color: $sidebarGrey;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 40px;

			&:after {
				content: '';
				width: 10px;
				height: 10px;
				margin-top: 15px;
				margin-left: 5px;
				position: absolute;
				background-image: url('img/chevron-down.svg');
				background-repeat: no-repeat;
				background-position: 50%;
			}
		}

		ul#argumentTownList {
			background-color: $lightGrey;
			padding: 15px;
			position: absolute;
			top: 15px;
			opacity: 0;
			height: 1px;
    		overflow: hidden;
    		z-index: $argumentTownListIndex;
    		pointer-events: none;

			@include border-radius(4px);
			@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
			@include transition(all .3s ease);

			&.visible {
				opacity: 1;
				height: auto;
				top: 45px;
				pointer-events: auto;
			}

			li {
				a {
					color: $sidebarGrey;
					margin: 5px 0;
					display: inline-block;
					width: 100%;
				}
			}
		}

		a.argument-add-to-route {
			display: inline-block;
			width: 100%;
			color: #ac386e;
			background-color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 40px;
			text-align: center;
			border: 1px solid #ac386e;

			@include border-radius( 4px );

			&:before {
				display: inline-block;
				content: '';
				width: 20px;
				height: 20px;
				background-image: url(img/addToRoutePopoup.svg);
				background-size: 20px 20px;
				background-repeat: no-repeat;
				background-position: 50%;
				margin-right: 10px;
				top: 5px;
				position: relative;
			}
		}

		a.argument-download-PDF {
			float: right;
			border: none;
			padding-left: 0;
			margin-right: 15px;
			font-size: 14px;
			color: $sidebarGrey;

			&:after {
				content: '';
				width: 15px;
				height: 15px;
				margin-top: 4px;
				margin-left: 10px;
				position: absolute;
				background-image: url('img/routeEditorDownloadPDF.svg');
				background-repeat: no-repeat;
				background-position: 50%;
			}

			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}
			&:focus {
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}

	div#argumentInfos {
		h1, p {
			padding: 25px;
			background-color: $lightGrey;
			margin-bottom: 5px;
		}

		p { font-size: 20px; }
	}

	div#argumentCover {
		div#argumentCoverVideo {
			background-color: black;
		}

		div#argumentImgPlaceholder {
			background-color: $textColor;
			background-image: url('../images/logo-img-placeholder-300x150.svg');
			background-position: 50%;
			background-repeat: no-repeat;
			height: 200px;
		}
	}

	div#argumentBlocks {
		margin-top: 30px;

		div.block-content {
			margin-bottom: 45px;
		}

		div.deepening-card {
			margin-bottom: 60px;

			h6 {
				// position: absolute;
				// background-color: rgba(white, .75);
				// padding: 5px 10px;
				// font-size: 12px;
				// margin-top: 0;
			}

			img {
				background-color: $textColor;

				&.default {
					padding-top: 25px;
					padding-bottom: 5px;
				}
			}
		}
	}
}

div#argumentData {
	background-color: $lightGrey;
	color: $sidebarGrey;
	padding-bottom: 60px;

	h3 {
		font-weight: 400;
		margin: 30px 0;
	}

	ul {
		margin-bottom: 30px;
		li {
			a {
				color: $sidebarGrey;
				font-size: 12px;
				// font-weight: 700;
				margin-bottom: 10px;
				display: inline-block;

				&:after {
					content: '';
					position: absolute;
					width: 7px;
					height: 7px;
					margin-left: 6px;
					margin-top: 6px;
					background-image: url('img/chevron-external-link.svg');
				}

				// &:hover { color: $oltrepoCyan; }
			}
		}
	}

	#argumentSideMap {
		height: 200px;
		margin-bottom: 30px;
	}

	#argumentRoute {
		a.argument-route-fixed-start {
			color: $mediumGrey;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
			display: inline-block;
			width: 100%;

			&:hover { text-decoration: none; }

			&:after {
				content: '';
				background: url('img/chevron-down.svg');
				background-size: 15px 15px;
				background-position: 50%;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				position: absolute;
				right: 20px;
				margin-top: 2px;
			}
		}

		div.argument-route-container {
			max-height: 0;
			overflow: hidden;

			@include transition(max-height .3s ease);

			&.expanded { max-height: 5000px; }

			@import './routing';
		}

		hr { border-color: $sidebarGrey; }

		input[name="argumentRouteCustomStart"] {
			margin-top: 30px;
			padding: 12px 15px;
			border: none;
			background-color: white;
			color: $sidebarGrey;
			font-family: 'Montserrat', sans-serif;
			width: 100%;
		}

		#argumentRouteCustomStartHints {
			padding: 15px;
			display: none;

			@include border-radius(4px);
			@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
			@include transition(all .3s ease);

			ul { 
				margin-bottom: 0; 

				li {
					a {
						margin-top: 10px;
						display: inline-block;
						width: 100%;

						&:after { content: none; }
					}
				}
			}
		}
	}
}

div#argumentAddToRouteBlockBtn {
	margin-bottom: 60px;
	margin-top: 15px;

	a.argument-add-to-route {
			display: inline-block;
			width: 100%;
			color: #ac386e;
			background-color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 40px;
			text-align: center;
			border: 1px solid #ac386e;

			@include border-radius( 4px );

			&:before {
				display: inline-block;
				content: '';
				width: 20px;
				height: 20px;
				background-image: url(img/addToRoutePopoup.svg);
				background-size: 20px 20px;
				background-repeat: no-repeat;
				background-position: 50%;
				margin-right: 10px;
				top: 5px;
				position: relative;
			}
		}
}

div#featuredSlider {
	color: $textColor;
	padding: 30px 0;

	h3 { 
		text-align: center; 
		margin-bottom: 20px;
	}

	div#argumentFeaturedSliderContainer {
		width: 100%;
		height: 230px;
		overflow: hidden;
		margin-top: 30px;

		div.argument-featured-nav {
			height: 206px;
			width: 60px;
			position: absolute;
			background-color: white;
			background-repeat: no-repeat;
			background-size: 15px 30px;

			@include transition(opacity 0.3s ease);

			&:hover {
				cursor: pointer;
			}

			&.visible {
				opacity: 1;
			}

			&#argumentFeaturedSliderNavLeft {
				left: -45px;
				background-image: url('img/chevron-left.svg');
				background-position: 20% 50%;
				display: none;
			}
			&#argumentFeaturedSliderNavRight {
				right: -30px;
				background-image: url('img/chevron-right.svg');
				background-position: 80% 50%;
			}
		}

		div#argumentFeaturedSlider {
			position: relative;
			left: 0;
			
			@include transition(all 0.3s ease);

			div.argument-featured-card {
				float: left;
				margin-right: 15px;

				h6 { margin-bottom: 5px; }

				a {
					color: $textColor;

					&.caption { color: $mediumGrey; }
				}
			}
		}
	}
}