#didacticsIntro {
	background-color: $oltrepoCyan;
	color: white;
	text-align: center;
	padding: 45px 0;

	h1 { 
		font-size: 28px; 
		margin-bottom: 15px;
	}
}

#didacticsTools {
	background-color: $lightGrey;
	color: white;
	padding-top: 60px;

	h1 {
		text-transform: uppercase;
		margin-top: 75px;
		margin-bottom: 30px;
	}

	h2 { 
		margin-top: 0;
		margin-bottom: 20px;
		color: $textColor;
	}

	div#filterInput {

		input#didacticsFilterInput {
			border: none;
			height: 30px;
			width: 300px;
			padding: 5px 7px;
			color: $textColor;
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
		}

		span.searchIcon {
			width: 20px;
			height: 20px;
			display: inline-block;
			top: 6px;
			position: relative;
			left: 10px;
		}

		div#suggestionsContainer {
			position: absolute;
			width: 300px;
			padding: 7px 10px;
			background-color: white;
			margin-top: 1px;
			display: none;

			@include border-radius(4px);
			@include box-shadow(0px, 0px, 30px, rgba(white, 0.25));

			a.didactics-suggestion-link {
				color: $textColor;
				margin-right: 10px;
				float: left;

				&:before { 
					white-space: nowrap;
					content: '\29BF\0020'; 
				}
			}
		}
	}

	select {
		background-color: white;
		border: none;
		font-size: 12px;
		height: 30px;
		width: 100%;
		color: $sidebarGrey;
		font-family: 'Montserrat', sans-serif;
		border: 1px solid $sidebarGrey;

		margin: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;

		margin-top: 15px;

		// @include border-radius(0);

		background-image: url('img/chevron-down.svg');
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-position: 92.5% 50%;
	}
}

#categoryFilters {
	background-color: $lightGrey;
	height: initial;
	border-bottom: none;
	padding-bottom: 60px;

	div#filterTags {
		margin-top: 15px;
		height: initial;

		span.filter-tag {
			position: relative;
			height: 100%;

			a.filter-tag-link {
				font-size: 16px;
				display: inline-block;
				position: relative;

				pointer-events: none;

				&.enabled { 
					pointer-events: auto; 
				}
			}

			span.filter-tag-icon {
				display: inline-block;
				width: 15px;
				height: 15px;
				// margin-right: 30px;
				top: 3px;
				position: relative;

				background-image: url('img/filterTagIconInactive.svg');
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 15px 30px;

				@include transition(all .3s ease);

				&.enabled { background-image: url('img/filterTagIconDelete.svg'); }

				&.remove-tag { background-position: 0 -15px; }
			}

			span.filter-tag-separator {
				display: inline-block;
				width: 40px;
				height: 10px;
				background-image: url('img/chevron-right.svg');
				background-position: 35% 50%;
				background-repeat: no-repeat;
				background-size: 10px 10px;
			}
		}
	}

	a#categoryFiltersResetFilters {
		margin-top: 15px;
		height: 30px;
		line-height: 17px;
		font-size: 12px;
		font-weight: 400;
		border-color: $sidebarGrey;
		color: $sidebarGrey;

		// @include border-radius(0);
		@include transition(all .3s ease);

		&:hover {
			background-color: $sidebarGrey;
			color: white;
		}
	}
}

#didacticsArguments {
	padding-top: 90px;
	background-color: white;

	div.didactics-argument-card {
		margin-bottom: 60px;
		
		div.didactics-argument-card-inner {
			border: 1px solid $mediumGrey;
			height: 410px;

			h5 {
				margin-top: 0;
				margin-bottom: 15px;
				padding: 0 15px;
				padding-top: 15px;

				$font-size: 16px;
				$line-height: 1.2;
				$lines-to-show: 2;

				display: block;
				display: -webkit-box;
				max-width: 400px;
				// height: $font-size*$line-height*$lines-to-show;
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;

				a { color: $textColor; }
			}

			a.caption {
				color: $mediumGrey;
				margin-top: 3px;
				display: inline-block;
				margin-bottom: 5px;
				padding: 0 15px;
			}

			a.didactics-town-link {
				color: $sidebarGrey;
				text-transform: uppercase;
				font-size: 12px;
				padding: 0 15px;
				margin-top: 5px;
				display: inline-block;
			}

			a.didactics-town-list-toggle {
				color: $sidebarGrey;
				text-transform: uppercase;
				font-size: 12px;
				padding: 0 15px;
				margin-top: 5px;
				display: inline-block;

				&:after {
					content: '';
					width: 10px;
					height: 10px;
					margin-top: 4px;
					margin-left: 5px;
					position: absolute;
					background-image: url('img/chevron-down.svg');
					background-repeat: no-repeat;
					background-position: 50%;
				}
			}

			ul.didactics-town-list {
				background-color: $lightGrey;
				padding: 15px;
				position: absolute;
				top: 200px;
				margin-left: 15px;
				opacity: 0;
				height: 1px;
	    		overflow: hidden;
	    		z-index: $argumentTownListIndex;
	    		pointer-events: none;

				@include border-radius(4px);
				@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
				@include transition(all .3s ease);

				&.visible {
					opacity: 1;
					height: auto;
					pointer-events: auto;
				}

				li {
					a {
						color: $sidebarGrey;
						margin: 5px 0;
						display: inline-block;
						width: 100%;
					}
				}
			}

			div.didactics-category-link-container {
				padding: 0 15px;
				margin-top: 5px;

				a.didactics-category-link {
					text-transform: uppercase;
					font-weight: 700;
					font-size: 12px;

					&:after { content: ',\00a0'; }
					&:last-of-type:after { content: ''; }
				}
			}

			p {
				padding: 0 15px;

				$font-size: 13px;
				$line-height: 1.3;
				$lines-to-show: 3;

				display: block; /* Fallback for non-webkit */
				display: -webkit-box;
				max-width: 400px;
				// height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-top: 30px;
			}

			a.category-read-more-link {
				font-family: 'PT Serif', serif;
				font-weight: 700;
				color: $textColor;
				padding: 0 15px;
			}
		}

		div.didactics-argument-card-tools {
			margin-top: 15px;

			a {
				font-size: 12px;
				color: $textColor;

				&.didactics-argument-download-PDF {
					float: left;
					border: none;
					padding-left: 0;

					&:after {
						content: '';
						width: 15px;
						height: 15px;
						margin-top: 4px;
						margin-left: 10px;
						position: absolute;
						background-image: url('img/routeEditorDownloadPDF.svg');
						background-repeat: no-repeat;
						background-position: 50%;
					}

					&:hover {
						background-color: transparent;
						text-decoration: underline;
					}

					&:focus {
						background-color: transparent;
						text-decoration: underline;
					}
				}

				&.didactics-argument-contribution-link {
					float: right;
					border-color: $mediumGrey;

					&.disabled {
						opacity: 0;
						pointer-events: none;
					}
				}
			}

			ul.didactics-argument-contribs-container {
				background-color: $lightGrey;
				padding: 15px;
				position: absolute;
				bottom: 30px;
				margin-bottom: 0;
				margin-left: 15px;
				opacity: 0;
	    		overflow: hidden;
	    		z-index: $argumentTownListIndex;
	    		pointer-events: none;
	    		
	    		-ms-transform-origin: right bottom;
	    		-webkit-transform-origin: right bottom;
	    		transform-origin: right bottom;

				@include border-radius(4px);
				@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
				@include transition(all .3s ease);
				@include transform( scale(0) );


				&.visible {
					opacity: 1;
					pointer-events: auto;
					@include transform( scale(1) );
				}

				li {
					a {
						color: $sidebarGrey;
						margin-bottom: 5px;
						display: inline-block;
						width: 100%;
						font-weight: 700;
					}

					p { 
						margin-top: 0; 
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}