#routesTitle {
	background-color: $textColor;

	padding: 30px 0;

	h1 {
		color: white;
		margin: 0;
		font-weight: 400;
		font-size: 28px;
	}
}

#featuredRoutes {
	padding: 30px 0;
	background-color: $lightGrey;

	div.featured-route {
		margin-bottom: 30px;

		div.featured-route-step-title {
			margin-bottom: 15px;

			div.featured-route-step-title-title-container {
				padding-left: 0;

				h2 {
					margin-top: 0;

					span.featured-route-step-title-icon {
						position: relative;
						width: 40px;
						height: 40px;
						display: inline-block;
						top: 10px;
						margin-right: 5px;

						background-image: url('img/map-icon.svg');
						background-position: 50%;
						background-size: 40px 40px;
						background-repeat: no-repeat;
					}

					a {
						color: $textColor;
					}
				}
			}

			a.featured-route-step-title-show-steps {
				position: relative;
				display: inline-block;
				top: 17px;
				text-transform: uppercase;
				font-size: 14px;
				color: $sidebarGrey;
				width: 100%;
				text-align: right;

				&:after {
					content: '';
					width: 10px;
					height: 10px;
					margin-top: 5px;
					margin-left: 5px;
					position: absolute;
					background-image: url(img/chevron-down.svg);
					background-repeat: no-repeat;
					background-position: 50%;
				}
			}
		}

		div.featured-route-step-preview {
			div.featured-route-step-preview-img { padding-left: 0; }

			p { font-size: 14px; }

			div.featured-route-step-tools {
				a.featured-route-step-tools-use-route-btn {
					font-family: 'Montserrat', sans-serif;
					background-color: $oltrepoViolet;
					color: white;
					text-transform: uppercase;
					border: 1px solid $oltrepoViolet;
					font-size: 12px;
					padding: 6px 24px;
					margin-top: 15px;
					float: left;

					@include border-radius(0);
					@include transition(all .3s ease);

					&:hover {
						background-color: transparent;
						color: $oltrepoViolet;
					}
				}

				div.featured-route-step-social {
					float: right;
					width: 170px;
					margin-top: 15px;

					span { 
						float: left; 
						font-size: 12px;
						line-height: 40px;
						color: $sidebarGrey;
						margin-right: 10px;
					}

					a.featured-route-step-social-icon {
						height: 40px;
						float: right;
						display: inline-block;
						width: 40px;
						margin-right: 10px;

						@include transition(all .3s ease);

						&:hover {
							@include transform( scale(0.95) );
						}
					}
				}
			}
		}

		div.featured-route-steps-container {
			// padding: 30px 0;
			padding-right: 0;
			padding-left: 0;
			background-color: white;
			margin-top: 15px;
			// border-top: 1px solid $sidebarGrey;

			div.featured-route-map {
				height: 300px;
				background-color: $mediumGrey;
				margin-bottom: 30px;

				canvas.mapboxgl-canvas {
					opacity: 0;

					@include transition(all .3s ease);

					&.visible { opacity: 1; }
				}

				div.featured-routes-marker {
					width: 25px;
					height: 25px;
					background-color: $oltrepoCyan;
					color: white;
					font-family: Montserrat,sans-serif;
					font-size: 12px;
					font-weight: 700;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					opacity: 0;

					@include border-radius( 50% );

					&.visible { opacity: 1; }
				}
			}

			div.featured-route-step {
				margin-bottom: 20px;

				div.featured-route-step-number {
					position: absolute;
					top: -10px;
					left: 5px;
					background-color: $oltrepoCyan;
					color: white;
					width: 25px;
					height: 25px;
					font-family: 'Montserrat', sans-serif;
					font-size: 12px;
					font-weight: 700;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					border: 3px solid $oltrepoCyan;

					@include border-radius(25px);
					@include transition(all .3s ease);

					&:hover {
						background-color: white;
						color: $oltrepoCyan;
					}
				}

				h3 {
					margin-top: 5px;
					margin-bottom: 5px;
					font-weight: 700;

					a {
						color: $textColor;
					}

					span.geo-caption {
						color: $sidebarGrey;
						font-size: 14px;
						font-weight: 400;
						font-family: 'PT Serif', serif;
					}
				}

				a.featured-route-step-category-link {
					font-weight: 700;
					text-transform: uppercase;

					&:after { content: ', '; }

					&:last-of-type {
						&:after { content: ''; }
					}
				}
			}
		}
	}
}