footer {
	background-color: $oltrepoViolet;
	min-height: $footerMinHeight;
	color: white;
	padding-top: 30px;

	h5.footer-header {
		border-bottom: 1px solid white;
		font-size: 18px;
		padding-bottom: 10px;
	}

	#footerLogo {
		img{ margin-bottom: 20px; }
	}

	#footerLinks {
		ul {
			list-style-type: none;
			padding: 0;

			li {
				a {
					color: white;
					font-family: 'PT Serif', serif;
					font-weight: 400;
					margin-bottom: 15px;
					display: inline-block;
				}
			}
		}
	}

	#footerInfo {
		p { 
			font-size: 14px; 

			&.small-legals { font-size: 9px; }
		}
	}

	#footerTools {
		input {
			background: transparent;
			color: white;
			font-family: 'PT Serif', serif;
			border: none;
			border-bottom: 1px solid white;
			height: 40px;
			padding-right: 0;
			padding-left: 0;

			@include border-radius(0);
			@include box-shadow(0,0,0,0);
		}

		div#socialLinks {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid white;

			a { 
				margin-right: 5px; 

				&:hover { opacity: 0.75; }
			}
		}

		p { 
			font-size: 14px; 

			a {
				color: white;
				font-family: 'PT Serif', serif;
			}
		}
	}

	#subFooter {
		background-color: $textColor;
		padding: 15px 5px;
		text-align: center;

		p { 
			font-size: 10px; 
			margin: 0;
		} 
	}
}