header {
	background-color: $oltrepoCyan;
	height: $headerHeight;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: $headerIndex;
	border-bottom: 5px solid white;

	&.sticky {
		height: $stickyHeaderHeight;
		overflow: visible;

		#logo {
			a {
				width: $stickyHeaderHeight;
				height: $stickyHeaderHeight;
				display: inline-block;
				background-image: url('img/stickyLogo.svg');
				background-size: 55%;
				background-repeat: no-repeat;
				margin-top: 5px;
			}

			img { display: none; }
		}

		#menu {
			h2 { display: none; }

			ul { margin-top: -4px; }
		}

		// #tools {
		// 	#routeEditorToggle { 
		// 		position: relative;
		// 		z-index: 100; 
		// 	}

		// 	.lang-switch {
		// 		position: absolute;
		// 		top: 0;
		// 		left: -15px;
		// 		z-index: 90;

		// 		a { margin-top: 14px; }
		// 	}
		// }
	}

	@include transition(height .3s ease);

	#menu {
		padding-left: 90px;

		h2 { 
			margin-bottom: 0; 
			margin-top: 30px;
		}

		ul#categoryLinks
		{
			// @include transform( scale(0) );
			
			li {
				a {
					font-family: 'Montserrat', sans-serif;
					font-weight: 500;
					font-size: 12px;
					text-transform: uppercase;
					color: white;
					padding: 0;
					padding: 4px 7px;
					margin-left: -5px;
					margin-right: 8px;
					margin-top: 15px;

					@include border-radius(0);
					@include transition(all .3s ease);

					&.active { 
						pointer-events: none;

						&[data-name="Musei"] { background-color: $musei; }
						&[data-name="Museums"] { background-color: $musei; }

						&[data-name="Arte"] { background-color: $arte; }
						&[data-name="Art"] { background-color: $arte; }

						&[data-name="Gastronomia"] { background-color: $gastronomia; }
						&[data-name="Food"] { background-color: $gastronomia; }

						&[data-name="Outdoor"] { background-color: $outdoor; }
						&[data-name="Outdoor"] { background-color: $outdoor; }

						&[data-name="Etnografia"] { background-color: $etnografia; }
						&[data-name="Etnography"] { background-color: $etnografia; }
					}
				}

				a.category-search, a.app-info, a.app-page {
					position: relative;
					width: 30px;
					height: 30px;
					margin-top: 10px;
					display: inline-block;

					@include transition( all 0.3s ease );

					&:hover {
						background-color: transparent;

						@include transform(scale(1.5));
					}
					&:focus { background-color: transparent; }
				}

				a.featured-route-link {
					color: $textColor;

					&:hover { 
						background-color: $textColor;
						color: white;
					}
				}

				&.lang-switch {
					float: right;

					a {
						color: $textColor;
						display: inline-block;
						text-transform: capitalize;

						&:hover { 
							background-color: $textColor;
							color: white;
						}
					}
				}

				&#closeMobileNav { 
					display: none; 
					position: absolute;
					top: 0;
					right: 0;
					width: 45px;
					height: 45px;
					color: white;
					padding-top: 15px;
					cursor: pointer;
				}
			}
		}

		#routeEditorToggle {
			width: 188px;
			height: 48px;
			background-image: url('img/routeEditorToggle.svg');
			background-repeat: no-repeat;
			background-position: 50%;
			position: absolute;
			top: 0;
			right: 90px;

			a {
				font-family: 'Montserrat', sans-serif;
				font-weight: 500;
				color: $oltrepoCyan;
				width: 100%;
				text-align: center;
				display: inline-block;
				margin-top: 11px;

				&:hover { text-decoration: none; }

				span#routeStepsCounter {
					background-color: $oltrepoCyan;
					color: $textColor;
					width: 15px;
					height: 15px;
					display: inline-block;
					text-align: center;
					font-size: 10px;
					line-height: 15px;
					position: relative;
					top: -1px;

					@include transition(all .3s ease);
					@include transform( scale(0) );
					@include border-radius( 50% );

					&.visible {
						@include transform( scale(1) );
					}
				}
			}
		}

		#mobileNavToggle {
			width: 24px;
			height: 16px;
			position: absolute;
			right: 25px;
			top: 20px;
			opacity: 0;
			visibility: hidden;
			cursor: pointer;

			@include transition(all .3s ease);

			span.hamburger-line {
				display: inline-block;
				width: 100%;
				height: 2px;
				background-color: white;
				position: absolute;
				left: 0;

				&.first-line { top: 0; }
				&.medium-line { top: 7px; }
				&.last-line { bottom: 0; }
			}
		}
	}

	@import "routeEditor";

	&.expanded { 
		height: $expandedRouteEditorHeight + $headerHeight;

		&.sticky { height: $expandedRouteEditorHeight + $stickyHeaderHeight - 5; }
	}
}

#headerClear { height: $headerHeight; }

@import "./appInfoModal";
@import "./saveInAppModal";