#mapFilters {
	background-color: $textColor;
	padding-top: 30px;
	padding-bottom: 30px;

	div#category-filters {
		margin-top: 10px;

		div.category-filter-container {
			float: left;
			margin-right: 20px;

			a.category-filter-link {
				font-family: 'PT Serif', serif;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;

				span.category-filter-bullet {
					width: 20px;
					height: 20px;
					border-style: solid;
					border-width: 2px;
					@include border-radius(50%);
					float: left;
					margin-right: 5px;
					overflow: hidden;

					span.category-filter-bullet-checked {
						width: 10px;
						height: 10px;
						@include border-radius(50%);
						position: relative;
						display: inline-block;
						left: 3px;
						top: -2px;

						@include transition(left .3s ease);

						&.unchecked {
							left: -15px;
						}
					}
				}

				// &:hover {
				// 	span.category-filter-bullet {
				// 		span.category-filter-bullet-checked {
				// 			left: -15px;
				// 		}
				// 	}
				// }
			}

			a.category-filter-times {
				color: white;
				margin-left: 3px;
			}
		}
	}

	div#clearFilters {
		overflow: hidden;
		padding: 0;

		a {
			height: 40px;
			background-color: transparent;
			border: 1px solid white;
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			margin-top: 0;

			@include transition(all .3s ease);

			// &:after {
			// 	content: '-------------';
			// 	line-height: 37px;
			// 	position: absolute;
			// 	top: 45px;
			// 	left: 2.5%;
			// 	width: 95%;
			// 	height: 95%;
			// 	// border: 1px solid white;
			// 	background-color: rgba( $textColor, 0.75 );
			// 	opacity: .25;

			// 	@include border-radius(4px);
			// 	@include transition(top .3s ease);
			// }

			&:hover {
				background-color: rgba( white, 0.05 );
				// &:after {
				// 	top: 2.5%;
				// 	opacity: 1;
				// }
			}
		}
	}
}