#videoGallery {
	min-height: 400px;
	padding-bottom: 30px;
	background-color: white;

	h3 {
		text-align: center;
		margin-top: 45px;
		margin-bottom: 60px;
		text-transform: uppercase;
		font-size: 16px;
	}

	div#videoGalleryContainer {
		width: 90%;
		left: 5%;
		min-height: 400px;
		overflow: hidden;
		position: relative;
		opacity: 0;

		div#videoGallerySlider {
			min-height: 300px;
			position: relative;
			left: 0;
			@include transition(all .3s ease);

			div.video-gallery-card {
				min-height: 300px;
				float: left;

				div.video-gallery-card-container {
					background-color: white;
					min-height: 300px;
					width: 100%;
					padding-bottom: 5px;
					padding-left: 15px;
					padding-right: 15px;

					div.video-container {
						float: left;
						width: 70%;
					}

					div.video-data {
						float: left;
						width: 30%;
						padding-left: 45px;

						div.video-data-category-links {
							margin-top: 30px;
							margin-bottom: 30px;

							a {
								text-transform: uppercase;
								font-weight: 700;

								&:after { content: ', '; }

								&:last-of-type:after { content: ''; }
							}
						}

						div.video-data-town-links {
							margin-top: 0;

							a {
								color: $mediumGrey;
								font-size: 12px;

								&:after { content: ', '; }

								&:last-of-type:after { content: ''; }
							}
						}
					}
				}
			}
		}
	}

	div.video-gallery-nav-control {
		position: relative;
		width: 45px;
		height: 45px;
		top: 0;
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-color: white;
		bottom: 50%;
		cursor: pointer;

		@include border-radius(50%);
		@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
		@include transition(all .3s ease);

		&.video-gallery-slide-left { 
			left: 0;
			float: left;
			background-image: url('img/chevron-left.svg');
			background-position: 45% 50%;
			display: none;

			&:hover { background-position: 30% 50%; }
		}
		&.video-gallery-slide-right { 
			right: 0; 
			float: right;
			background-image: url('img/chevron-right.svg');
			background-position: 55% 50%;

			&:hover { background-position: 70% 50%; }
		}
	}
}