#featuredArguments {
	min-height: 400px;
	padding-bottom: 30px;
	background-color: $lightGrey;

	h3 {
		text-align: center;
		margin-top: 45px;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-size: 16px;
	}

	div#featuredContainer {
		width: 90%;
		left: 5%;
		min-height: 400px;
		overflow: hidden;
		position: relative;
		opacity: 0;

		div#featuredSlider {
			min-height: 300px;
			position: relative;
			left: 0;
			@include transition(all .3s ease);

			div.featured-card {
				min-height: 300px;
				float: left;

				div.featured-card-container {
					background-color: white;
					// min-height: 300px;
					height: 515px;
					width: 90%;
					margin-left: 5%;
					padding-bottom: 5px;

					&:hover { @include box-shadow(0px, 0px, 15px, rgba($textColor, 0.25)); }
					
					div.featured-card-image {
						position: relative;
						width: 100%;
						height: 190px;
						background-color: $textColor;
						background-repeat: no-repeat;
						background-position: 50%;
						background-size: cover;
						margin-bottom: 15px;
					}

					h5 {
						font-size: 16px;
						font-weight: bold;
						padding: 0 10px;
						margin-bottom: 5px;

						a { color: $textColor; }
					}

					a.featured-card-town-link {
						color: $mediumGrey;
						font-size: 12px;
						padding: 0 10px;
						margin-bottom: 15px;
						display: inline-block;
					}

					a.featured-card-town-list-toggle {
						color: $mediumGrey;
						font-size: 12px;
						padding: 0 10px;
						margin-bottom: 15px;
						display: inline-block;

						&:after {
							content: '';
							width: 10px;
							height: 10px;
							margin-top: 5px;
							margin-left: 5px;
							position: absolute;
							background-image: url('img/chevron-down.svg');
							background-repeat: no-repeat;
							background-position: 50%;
						}
					}

					ul.featured-card-town-list {
						background-color: $lightGrey;
						padding: 15px;
						position: absolute;
						top: 250px;
						opacity: 0;
						height: 1px;
			    		overflow: hidden;
			    		z-index: $argumentTownListIndex;
			    		pointer-events: none;

						@include border-radius(4px);
						@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
						@include transition(all .3s ease);

						&.visible {
							opacity: 1;
							height: auto;
							top: 280px;
							pointer-events: auto;
						}

						li {
							a {
								color: $sidebarGrey;
								margin: 5px 0;
								display: inline-block;
								width: 100%;
							}
						}
					}

					div.featured-card-category-links { 
						padding: 0 10px; 
						margin-bottom: 20px;

						a {
							text-transform: uppercase;
							font-weight: 700;

							&:after { content: ',\00a0' }
  							&:last-of-type:after { content: '' }
						}
					}

					p { 
						padding: 0 10px;

						$font-size: 16px;
						$line-height: 1.425;
						$lines-to-show: 6;

						display: block;
						display: -webkit-box;
						max-width: 400px;
						// height: $font-size*$line-height*$lines-to-show;
						margin: 0 auto;
						font-size: $font-size;
						line-height: $line-height;
						-webkit-line-clamp: $lines-to-show;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					a.featured-read-more-link {
						padding: 0 10px;
						font-family: 'PT Serif', serif;
						font-weight: 700;
						font-size: 16px;
						color: $textColor;
						margin-bottom: 15px;
						display: inline-block;
					}

					div.add-to-route-featured-card-link {
						position: absolute;
						bottom: -245px;
						height: 40px;
						padding: 0 10px;

						a:not(.route-select-link, .route-selector-new-route) {
							display: inline-block;
							width: 100%;
							color: $oltrepoViolet;
							background-color: white;
							text-transform: uppercase;
							font-size: 14px;
							line-height: 40px;

							&:before {
								display: inline-block;
								content: '';
								width: 20px;
								height: 20px;
								background-image: url('img/addToRoutePopoup.svg');
								background-size: 20px 20px;
								background-repeat: no-repeat;
								background-position: 50%;
								margin-right: 10px;
								top: 5px;
								position: relative;
							}
						}
					}
				}
			}
		}
	}

	div.slider-nav-control {
		position: relative;
		width: 45px;
		height: 45px;
		top: 0;
		background-repeat: no-repeat;
		background-size: 15px 15px;
		background-color: white;
		bottom: 50%;
		cursor: pointer;

		@include border-radius(50%);
		@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
		@include transition(all .3s ease);

		&.slide-left { 
			left: 0;
			float: left;
			background-image: url('img/chevron-left.svg');
			background-position: 45% 50%;
			display: none;

			&:hover { background-position: 30% 50%; }
		}
		&.slide-right { 
			right: 0; 
			float: right;
			background-image: url('img/chevron-right.svg');
			background-position: 55% 50%;

			&:hover { background-position: 70% 50%; }
		}
	}
}