#map { height: $mapHeight; }

.mapboxgl-ctrl-compass { display: none!important; }

.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  background-color: $textColor !important;
  color: white;
  padding: 0 !important;

  .mapboxgl-popup-close-button { 
    z-index: 20; 
    font-size: 28px;

    @include transition(all .3s ease);

    &:hover { opacity: .5; }
  }

  .town-popup-container {
    div.popup-header {
      position: relative;
      border-bottom: 5px solid white;

      div.popup-img-overlay {
        height: 190px;
        width: 300px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,.75)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#000000', GradientType=0 );
      }

    	h5 {
    		text-transform: uppercase;
    		padding-left: 10px;
    		padding-right: 10px;
        position: absolute;
        bottom: 0;

        a { color: white; }
    	}
    }

  	ul {
  		list-style-type: none;
  		padding-left: 10px;
  		padding-right: 10px;
  		max-height: 300px;
  		overflow: hidden;
  		overflow-y: scroll;


  		li {
  			// min-height: 90px;
  			border-bottom: 1px solid $sidebarGrey;

  			a.argument-link {
  				width: 100%;
  				display: inline-block;
  				color: white;
  				font-size: 16px;
  				font-weight: 700;
  				text-decoration: none;
  				margin-top: 10px;
          max-width: 80%;
  			}

  			span.category-link-list {
  				width: 80%;
  				display: inline-block;
  				float: left;
  				// margin-top: 10px;
  				margin-bottom: 10px;

  				a {
  					font-size: 12px;
  					font-weight: 700;
  					text-transform: uppercase;
  					float: left;

  					&:after { content: ',\00a0' }
  					&:last-of-type:after { content: '' }
  				}
  			}

  			a.add-to-route-link {
  				width: 20%;
  				height: 50px;
  				display: inline-block;
  				float: right;
  				text-align: center;
  				color: $oltrepoViolet;
  				background-image: url('img/addToRoutePopoup.svg');
  				background-position: 50%;
  				background-size: 25px 25px;
  				background-repeat: no-repeat;
          position: relative;
          margin-top: -25px;
  			}

  			&:last-of-type {
  				border-bottom: none;
  			}
  		}
  	}
  }

  .argument-popup-container {
    div.popup-header {
      position: relative;

      div.popup-img-overlay {
        height: 190px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(48,48,48,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(48,48,48,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(48,48,48,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(48,48,48,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(48,48,48,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(48,48,48,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#000000', GradientType=0 );
      }

      h5 {
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        bottom: 20px;
        font-size: 16px;

        a { color: white; }
      }

      div.category-link-list {
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        bottom: 5px;

        a {
          font-size: 12px;
          text-transform: uppercase;

          &:after { content: ',\00a0' }
          &:last-of-type:after { content: '' }
        }
      }
    }

    div.add-to-route-argument-popup-link {
      position: relative;
      height: 40px;

      a:not(.route-select-link, .route-selector-new-route) {
        display: inline-block;
        width: 100%;
        color: $oltrepoViolet;
        background-color: white;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 40px;

        &:before {
          display: inline-block;
          content: '';
          width: 20px;
          height: 20px;
          background-image: url('img/addToRoutePopoup.svg');
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: 50%;
          margin-right: 10px;
          top: 5px;
          position: relative;
        }
      }
    }
  }
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
	border-top-color: $textColor !important;
	border-bottom-color: $textColor !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-right-color: $textColor !important;
	border-left-color: $textColor !important;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
	border-top-color: $textColor !important;
	border-bottom-color: $textColor !important;
}

.town-marker {
	background-image: url('img/townMarker.svg');
	background-size: cover;
	width: 25px;
	height: 40px;
	cursor: pointer;
}

.argument-marker {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  div.marker-inner {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 1;
    pointer-events: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background-color: white;
  }

  @include transition(opacity .3s ease);

  &.faded {
    opacity: 0;
    pointer-events: none;
  }
}

.toll-marker {
  background-color: $textColor;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.route-page-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 1;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;

  @include transition(opacity .3s ease);

  &.faded {
    opacity: 0;
    pointer-events: none;
  }
}