/* iPad in portrait */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#featuredArguments {
		div#featuredContainer {
			div#featuredSlider {
				div.featured-card {
					div.featured-card-container {
						p {
							max-width: 100%;
							margin: 0;
						}
					}
				}
			}
		}
	}

	#videoGallery {
		h3 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		div#videoGalleryContainer {
			min-height: 300px;

			div#videoGallerySlider {
				div.video-gallery-card {
					div.video-gallery-card-container {
						div.video-container {
							float: none!important;
							width: 100%!important;
						}
						div.video-data {
							float: none!important;
							width: 100%!important;
							padding-left: 0!important;
						}
					}
				}
			}
		}
	}
}

/* iPhone 5 & 5S in portrait & landscape */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	header {
		#logo {
			position: absolute;
			top: 10px;
			left: 0;
			width: 90px;
			z-index: $mobileNavIndex - 1;

			&.mobile-logo-expanded-route-editor {
				opacity: 0;
			}
		}

		#menu {
			padding-left: 90px;

			h2 {
				margin-top: 0;
				font-size: 14px;
				top: 65px;
				left: 0;
				position: absolute;
				width: 100%;
				text-align: center;
			}

			#categoryLinks {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($textColor, .95);
				z-index: $mobileNavIndex;
				padding-top: 60px;

				@include transform( scale(0) );
				@include transition( all .3s ease );

				&.expanded { 
					@include transform( scale(1) ); 

					li#closeMobileNav { display: block; }
				}

				li {
					float: none;
					padding: 5px 30px;
					margin: 0;
					text-align: center;

					&.lang-switch { 
						float: none!important; 

						a { 
							color: white!important;
							margin-right: 0!important;
							margin-left: 0!important;
							margin-top: 10px!important;
						}
					}

					a {
						color: white!important;
						margin-right: 0!important;
						margin-left: 0!important;
						margin-top: 10px!important;
					}
				}
			}

			#routeEditorToggle {
				top: 0px;
				width: 100%;
				right: 0;
				background-size: 40%;
				background-position: 50% 0;

				a {
					font-size: 12px;
					margin-top: 9px;
				}
			}

			#mobileNavToggle {
				opacity: 1;
				visibility: visible;
				z-index: $mobileNavIndex - 1;
			}
		}

		&.sticky {
			height: 39px;

			#logo {
				a { 
					margin-top: 0;
					background-size: 45%;
				}
			}

			#menu {
				#mobileNavToggle { top: 6px; }
			}
		}

		#routeEditor {
			div#routeEditorTitle {
				h5 { 
					margin-top: 17px;
					font-size: 12px; 
				}
			}
			div#routeEditorList { 
				opacity: 0; 

				div#routeEditorMapContainer {
					div#routeEditorMap { min-width: 100%; }
				}
			}

			&.expanded { 
				overflow-y: scroll; 

				div#routeEditorList { opacity: 1; }
			}
		}
	}

	#mapFilters {
		padding: 15px 0;

		#category-filters {
			div.category-filter-container {
				a.category-filter-link {
					margin-bottom: 15px;
					display: inline-block;
				}
			}
		}

		div#clearFilters { 
			padding: 0 15px; 
		}
	}

	#featuredArguments {
		h3 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		div#featuredContainer {
			div#featuredSlider {
				div.featured-card {
					div.featured-card-container {
						p {
							max-width: 100%;
							margin: 0;
						}
					}
				}
			}
		}

		div.slider-nav-control {
			background-color: rgba(white, .85);

			&.slide-left { left: 5px; }
			&.slide-right { right: 5px; }
		}
	}

	#videoGallery {
		h3 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		div#videoGalleryContainer {
			min-height: 300px;

			div#videoGallerySlider {
				div.video-gallery-card {
					div.video-gallery-card-container {
						div.video-container {
							float: none!important;
							width: 100%!important;
						}
						div.video-data {
							float: none!important;
							width: 100%!important;
							padding-left: 0!important;
						}
					}
				}
			}
		}

		div.video-gallery-nav-control {
			background-color: rgba(white, .85);

			&.video-gallery-slide-left { left: 5px; }
			&.video-gallery-slide-right { right: 5px; }
		}
	}

	/* COMUNI */
	#townMainBody {
		#townArguments {
			#townArgumentList {
				li.town-argument {
					div.town-argument-img { margin-bottom: 15px; }
				}
			}
		}
	}

	/* ARGOMENTI */
	#argumentContainer {
		#argumentBlocks {
			div.deepening-card {
				img.img-responsive { min-width: 100%; }
			}
		}
	}

	/* CATEGORIE/RICERCA */
	#categoryTools { height: auto; }
	#categoryFilters { height: 190px; }
	#categoryArguments {
		div.category-argument-card { 
			max-height: none; 

			div.category-argument-card-image {
				margin-bottom: 10px;

				img.img-responsive { min-width: 100%; }
			}
		}
	}

	/* ITINERARI SUGGERITI */
	#featuredRoutes {
		div.featured-route {
			padding-bottom: 15px;
			border-bottom: 1px solid $mediumGrey;
			margin-bottom: 30px;

			div.featured-route-step-title {
				div.featured-route-step-title-title-container {
					h2 { 
						// font-size: 18px; 

						span.featured-route-step-title-icon {
							// width: 30px;
							// height: 30px;
							// background-size: 30px 30px;
							display: none;
						}

						a {
							width: 100%;
    						display: inline-block;
						}
					}
				}

				div.featured-route-step-title-show-steps-container {
					display: none;

					a {
						text-align: center;
						margin-bottom: 5px;
					}
				}
			}

			div.featured-route-step-preview {
				div.featured-route-step-preview-img {
					padding: 0;
					margin-left: -15px;
					margin-right: -15px;
					margin-bottom: 15px;
				}

				div.featured-route-step-preview-description {
					padding: 0;

					div.featured-route-step-tools {
						height: 135px;

						a {
							width: 100%;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
	#saveInAppModal {
		#saveInAppModalContent {
			width: 80%;
			max-height: 90%;

			h1 { font-size: 18px; }

			div#saveInAppModalData {
				padding: 0 15px;

				div.save-in-app-modal-col {
					&#mockup { display: none; }

					&#form {
						width: 100%!important;

						form {
							div.form-group {
								div.g-recaptcha {
									div {
										div {
											iframe { max-width: 100%; }
										}
									}
								}
							}
						}
					}

					&#info {
						width: 100%;

						div#saveInAppModalDownloadApp {
							h1 { font-size: 18px; }
							h3 { font-size: 14px; }
							p { font-size: 12px; }
						}

						div#saveInAppModalShareTools {
							a#saveInAppModalDownloadPdf {
								margin-bottom: 15px;
							}

							form#routeEditorSendEmailForm {
								div.form-group {
									width: 100%;
									margin-bottom: 5px;
								}

								a#saveInAppModalSendByEmail {
									float: none;
									width: 100%;
								}
							}

							div#saveInAppModalSocialShare {
								ul {
									li {
										width: 30px;

										&:first-of-type {
											margin-top: 8px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/* SINGOLO ITINERARIO */
	#routePageContainer {
		div#routeData {
			div#routeDetails {
				div#routeSharingTools {
					min-height: 80px;
				}
			}
		}
	}

	footer {
		#footerInfo {
			margin-bottom: 30px;
		}
	}
}

/* Print and PDF */

@media print {
	body {
		header {
			background-color: $oltrepoCyan!important;

			#logo {
				a {
					&:after { display: none; }

					img { 
						max-width: 120px; 
						margin-top: 10px;
					}
				}
			}

			#menu {
				h2 { 
					text-align: right; 
					margin-top: 38px;
					font-size: 24px;
				}
			}
		}

		#routePageContainer {
			a {
				&:after { display: none; }
			}

			#routeData {
				#routeDetails {
					p.caption, a.btn-route-page, div#routeSharingTools { display: none; }
				}
			}

			#routeList {
				#routeSteps {
					div.route-step {
						div.route-step-block {
							width: 10%!important;

							&.route-step-info { 
								width: 75%!important; 

								div.route-step-info-left {
									float: left;
									width: 50%;

									h2 { 
										font-size: 14px!important; 
										margin-bottom: 5px;
									}

									a, h5 { font-size: 10px!important; }
								}

								div.route-step-info-right {
									float: right;
									width: 50%;

									p { font-size: 10px!important; }
								}
							}
						}
					}
				}
				#routeMap { display: none; }
			}
		}
	}
}