div.route-selector {
	width: 100px;
	height: 0;
	background-color: $textColor;
	position: absolute;
	overflow: hidden;

	@include border-radius(2px);
	@include transition(all .1s ease);
	@include box-shadow(0px, 0px, 15px, rgba($textColor, 0.75));

	&.expanded {
		width: 300px;
		height: auto;
		padding: 10px 15px;
	}

	a {
		display: inline-block;
		width: 100%;
		color: $sidebarGrey;
		font-weight: 700;
		padding: 5px 0;
		height: 20px;
		font-size: 12px;

		&.route-selector-new-route {
			text-align: center;
			@include border-radius(4px);
			border: 1px solid $sidebarGrey;
			height: 30px;
			overflow: hidden;
		}
	}

	ul.route-selector-routes {
		overflow: hidden;
		margin-bottom: 15px;

		li {
			a {
				&:after {
					content: '';
					height: 20px;
					margin-left: 5px;
					padding-left: 15px;
					position: absolute;
					background-image: url('img/addToRouteJustAddedIcon.svg');
					background-position: 0 4px;
					background-size: 10px 10px;
					background-repeat: no-repeat;
					opacity: 0;

					@include transition(opacity .3s ease);
				}

				&.disabled {
					pointer-events: none;
					opacity: 0.65;

					&:after {
						// content: '(Aggiunto)';
						height: 20px;
						margin-left: 5px;
						position: absolute;
						background-image: url('img/addToRouteDisabledLink.svg');
						background-position: 0 4px;
						background-size: 10px 10px;
						background-repeat: no-repeat;
						opacity: 1;
					}
				}

				&.added {
					pointer-events: none;

					&:after { opacity: 1; }
				}
			}
		}
	}

	div.route-selector-new-route-input-container {
		overflow: hidden;
		display: none;
		@include border-radius(4px);
		border: 1px solid $sidebarGrey;
		height: 30px;
		margin-bottom: 5px;

		input[name="routeSelectorNewRouteInput"] {
			width: 80%;
			border: none;
			color: $sidebarGrey;
			background-color: $textColor;
			height: 100%;
			padding: 4px 7px;
			font-family: 'Montserrat', sans-serif;
			float: left;

			@include border-radius(4px);

			&:focus {
				outline: none;
			}
		}

		span {
			width: 20%;
			height: 100%;
			background-image: url('img/routeSelectorNewRouteInputSubmit.svg');
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: 22px 22px;
			display: inline-block;
			float: left;
			cursor: pointer;
			border-left: 1px solid $sidebarGrey;

			@include transition(all .1s ease);

			&:hover {
				background-size: 18px 18px;
			}
		}
	}
}