ul {
	margin-bottom: 0;
	margin-top: 15px;

	li.route {
		margin-bottom: 3px;

		a.route-toggle-steps { 
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 0;
			color: $sidebarGrey;
			font-size: 12px;

			&:after { content: none; }

			span { color: $mediumGrey; }
		}

		ul.route-steps {
			max-height: 0;
			overflow: hidden;
			border-top: 15px;
			margin-top: 0;
			margin-bottom: 5px;

			@include transition(max-height .3s ease);

			&.expanded { 
				max-height: 300px;
				overflow-y: scroll;
				margin-top: 15px;
				margin-bottom: 15px;

				a.route-step-link {
					color: $sidebarGrey;
					font-size: 12px;
					
					&:before { display: block; }
				}
			}

			li.route-step {
				margin-bottom: 5px;

				span.route-step-icon {
					display: inline-block;
					width: 15px;
					height: 15px;
					top: 3px;
					position: relative;
					margin-right: 5px;

					background-position: 50%;
					background-size: 15px 15px;
					background-repeat: no-repeat;

					&.arrive { background-image: url('img/directions/arrive.svg'); }
					&.arrive_left { background-image: url('img/directions/arrive_left.svg'); }
					&.arrive-right { background-image: url('img/directions/arrive-right.svg'); }
					&.arrive_straight { background-image: url('img/directions/arrive_straight.svg'); }

					&.close { background-image: url('img/directions/close.svg'); }

					&.continue { background-image: url('img/directions/continue.svg'); }
					&.continue_left { background-image: url('img/directions/continue_left.svg'); }
					&.continue_right { background-image: url('img/directions/continue_right.svg'); }
					&.continue_slight_left { background-image: url('img/directions/continue_slight_left.svg'); }
					&.continue_slight_right { background-image: url('img/directions/continue_slight_right.svg'); }
					&.continue_straight { background-image: url('img/directions/continue_straight.svg'); }
					&.continue_uturn { background-image: url('img/directions/continue_uturn.svg'); }

					&.depart { background-image: url('img/directions/depart.svg'); }
					&.depart_left { background-image: url('img/directions/depart_left.svg'); }
					&.depart_right { background-image: url('img/directions/depart_right.svg'); }
					&.depart_straight { background-image: url('img/directions/depart_straight.svg'); }

					&.end_of_road_left { background-image: url('img/directions/end_of_road_left.svg'); }
					&.end_of_road_right { background-image: url('img/directions/end_of_road_right.svg'); }

					&.flag { background-image: url('img/directions/flag.svg'); }

					&.fork { background-image: url('img/directions/fork.svg'); }
					&.fork_left { background-image: url('img/directions/fork_left.svg'); }
					&.fork_right { background-image: url('img/directions/fork_right.svg'); }
					&.fork_slight_left { background-image: url('img/directions/fork_slight_left.svg'); }
					&.fork_slight_right { background-image: url('img/directions/fork_slight_right.svg'); }
					&.fork_straight { background-image: url('img/directions/fork_straight.svg'); }

					&.invalid { background-image: url('img/directions/invalid.svg'); }
					&.invalid_left { background-image: url('img/directions/invalid_left.svg'); }
					&.invalid_right { background-image: url('img/directions/invalid_right.svg'); }
					&.invalid_slight_left { background-image: url('img/directions/invalid_slight_left.svg'); }
					&.invalid_slight_right { background-image: url('img/directions/invalid_slight_right.svg'); }
					&.invalid_straight { background-image: url('img/directions/invalid_straight.svg'); }
					&.invalid_uturn { background-image: url('img/directions/invalid_uturn.svg'); }

					&.merge_left { background-image: url('img/directions/merge_left.svg'); }
					&.merge_right { background-image: url('img/directions/merge_right.svg'); }
					&.merge_slight_left { background-image: url('img/directions/merge_slight_left.svg'); }
					&.merge_slight_right { background-image: url('img/directions/merge_slight_right.svg'); }
					&.merge_straight { background-image: url('img/directions/merge_straight.svg'); }

					&.new_name_left { background-image: url('img/directions/new_name_left.svg'); }
					&.new_name_right { background-image: url('img/directions/new_name_right.svg'); }
					&.new_name_sharp_left { background-image: url('img/directions/new_name_sharp_left.svg'); }
					&.new_name_sharp_right { background-image: url('img/directions/new_name_sharp_right.svg'); }
					&.new_name_slight_left { background-image: url('img/directions/new_name_slight_left.svg'); }
					&.new_name_slight_right { background-image: url('img/directions/new_name_slight_right.svg'); }
					&.new_name_straight { background-image: url('img/directions/new_name_straight.svg'); }

					&.notification_left { background-image: url('img/directions/notification_left.svg'); }
					&.notification_right { background-image: url('img/directions/notification_right.svg'); }
					&.notification_sharp_left { background-image: url('img/directions/notification_sharp_left.svg'); }
					&.notification_sharp_right { background-image: url('img/directions/notification_sharp_right.svg'); }
					&.notification_slight_left { background-image: url('img/directions/notification_slight_left.svg'); }
					&.notification_slight_right { background-image: url('img/directions/notification_slight_right.svg'); }
					&.notification_straight { background-image: url('img/directions/notification_straight.svg'); }

					&.off_ramp_left { background-image: url('img/directions/off_ramp_left.svg'); }
					&.off_ramp_right { background-image: url('img/directions/off_ramp_right.svg'); }
					&.off_ramp_slight_left { background-image: url('img/directions/off_ramp_slight_left.svg'); }
					&.off_ramp_slight_right { background-image: url('img/directions/off_ramp_slight_right.svg'); }

					&.on_ramp_left { background-image: url('img/directions/on_ramp_left.svg'); }
					&.on_ramp_right { background-image: url('img/directions/on_ramp_right.svg'); }
					&.on_ramp_sharp_left { background-image: url('img/directions/on_ramp_sharp_left.svg'); }
					&.on_ramp_sharp_right { background-image: url('img/directions/on_ramp_sharp_right.svg'); }
					&.on_ramp_slight_left { background-image: url('img/directions/on_ramp_slight_left.svg'); }
					&.on_ramp_slight_right { background-image: url('img/directions/on_ramp_slight_right.svg'); }
					&.on_ramp_straight { background-image: url('img/directions/on_ramp_straight.svg'); }

					&.rotary_left { background-image: url('img/directions/rotary_left.svg'); }
					&.rotary_right { background-image: url('img/directions/rotary_right.svg'); }
					&.rotary_sharp_left { background-image: url('img/directions/rotary_sharp_left.svg'); }
					&.rotary_sharp_right { background-image: url('img/directions/rotary_sharp_right.svg'); }
					&.rotary_slight_left { background-image: url('img/directions/rotary_slight_left.svg'); }
					&.rotary_slight_right { background-image: url('img/directions/rotary_slight_right.svg'); }
					&.rotary_straight { background-image: url('img/directions/rotary_straight.svg'); }
					&.rotary { background-image: url('img/directions/rotary.svg'); }

					&.roundabout_left { background-image: url('img/directions/roundabout_left.svg'); }
					&.roundabout_right { background-image: url('img/directions/roundabout_right.svg'); }
					&.roundabout_sharp_left { background-image: url('img/directions/roundabout_sharp_left.svg'); }
					&.roundabout_sharp_right { background-image: url('img/directions/roundabout_sharp_right.svg'); }
					&.roundabout_slight_left { background-image: url('img/directions/roundabout_slight_left.svg'); }
					&.roundabout_slight_right { background-image: url('img/directions/roundabout_slight_right.svg'); }
					&.roundabout_straight { background-image: url('img/directions/roundabout_straight.svg'); }
					&.roundabout { background-image: url('img/directions/roundabout.svg'); }

					&.turn_left { background-image: url('img/directions/turn_left.svg'); }
					&.turn_right { background-image: url('img/directions/turn_right.svg'); }
					&.turn_sharp_left { background-image: url('img/directions/turn_sharp_left.svg'); }
					&.turn_sharp_right { background-image: url('img/directions/turn_sharp_right.svg'); }
					&.turn_slight_left { background-image: url('img/directions/turn_slight_left.svg'); }
					&.turn_slight_right { background-image: url('img/directions/turn_slight_right.svg'); }
					&.turn_straight { background-image: url('img/directions/turn_straight.svg'); }

					&.updown { background-image: url('img/directions/updown.svg'); }

					&.uturn { background-image: url('img/directions/uturn.svg'); }
				}

				a.route-step-link {
					margin-top: 5px;
					margin-bottom: 5px;
					display: inline;

					&:after { content: none; }
				}
			}
		}
	}
}