#routePageContainer {
	padding-bottom: 90px;
	background-color: white;

	#routeData {
		background-color: $textColor;
		color: white;

		h1 { margin-bottom: 30px; }

		div.row { padding-top: 30px; }

		#routePageMap {
			height: $routePageMapHeight
		}

		#routeDetails {

			p.caption { 
				color: white; 
				margin-bottom: 20px;

				a { color: white; }
			}

			form#routeSendEmailForm {
				div.form-group {
					margin-bottom: 7px;

					label {
						color: $sidebarGrey;
						font-size: 12px;
					}

					input {
						background-color: transparent;
						border-color: $sidebarGrey;
						font-family: 'Montserrat', sans-serif;
						color: $mediumGrey;

						@include border-radius(2px);

						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							color: rgba($sidebarGrey, .75);
							font-size: 12px;
							font-family: 'Montserrat', sans-serif;
						}

						&::-moz-placeholder { /* Firefox 19+ */
							color: rgba($sidebarGrey, .75);
							font-size: 12px;
							font-family: 'Montserrat', sans-serif;
						}

						&:-ms-input-placeholder { /* IE 10+ */
							color: rgba($sidebarGrey, .75);
							font-size: 12px;
							font-family: 'Montserrat', sans-serif;
						}

						&:-moz-placeholder { /* Firefox 18- */
							color: rgba($sidebarGrey, .75);
							font-size: 12px;
							font-family: 'Montserrat', sans-serif;
						}
					}
				}
			}

			p.feedback {
				font-family: 'Montserrat', sans-serif;
				font-size: 10px;
				font-weight: 700;
				padding: 2px 5px;

				@include border-radius(2px);
				@include transition(all .3s ease);
			}

			a.btn-route-page {
				background-color: $oltrepoViolet;
				border-color: $oltrepoViolet;
				color: white;
				margin-bottom: 20px;
				text-align: left;
				font-size: 12px;
				height: 40px;
				text-transform: uppercase;
				background-size: 25px 25px;
				background-position: 97.5% 50%;
				background-repeat: no-repeat;

				@include border-radius(2px);
				@include transition(all .3s ease);

				&:hover {
					background-color: $textColor;
					color: $oltrepoViolet;
				}

				&#routeDownloadPDF { background-image: url('img/routePageDownloadPDFIcon.svg'); }
				&#routeSendEmail { 
					background-image: url('img/routePageSendEmailIcon.svg'); 
					margin-bottom: 0;

					.sk-cube-grid { display: none; }

					&.btn-route-page-spinner {
						background-image: none;

						.sk-cube-grid {
							width: 20px;
							height: 20px;
							float: right;
							position: relative;
							top: 3px;
							display: block;
						}

						.sk-cube-grid .sk-cube {
							width: 33%;
							height: 33%;
							background-color: white;
							float: left;
							-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
									animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
						}
						.sk-cube-grid .sk-cube1 {
							-webkit-animation-delay: 0.2s;
						    		animation-delay: 0.2s;
						}
						.sk-cube-grid .sk-cube2 {
							-webkit-animation-delay: 0.3s;
						    		animation-delay: 0.3s;
						}
						.sk-cube-grid .sk-cube3 {
							-webkit-animation-delay: 0.4s;
						    		animation-delay: 0.4s;
						}
						.sk-cube-grid .sk-cube4 {
							-webkit-animation-delay: 0.1s;
						    		animation-delay: 0.1s;
						}
						.sk-cube-grid .sk-cube5 {
							-webkit-animation-delay: 0.2s;
									animation-delay: 0.2s;
						}
						.sk-cube-grid .sk-cube6 {
							-webkit-animation-delay: 0.3s;
									animation-delay: 0.3s;
						}
						.sk-cube-grid .sk-cube7 {
							-webkit-animation-delay: 0s;
									animation-delay: 0s;
						}
						.sk-cube-grid .sk-cube8 {
							-webkit-animation-delay: 0.1s;
									animation-delay: 0.1s;
						}
						.sk-cube-grid .sk-cube9 {
							-webkit-animation-delay: 0.2s;
									animation-delay: 0.2s;
						}

						@-webkit-keyframes sk-cubeGridScaleDelay {
							0%, 70%, 100% {
								-webkit-transform: scale3D(.9, .9, .9);
										transform: scale3D(.9, .9, .9);
							} 35% {
								-webkit-transform: scale3D(0, 0, .9);
										transform: scale3D(0, 0, .9); 
								}
							}

						@keyframes sk-cubeGridScaleDelay {
							0%, 70%, 100% {
								-webkit-transform: scale3D(.9, .9, .9);
										transform: scale3D(.9, .9, .9);
							} 35% {
								-webkit-transform: scale3D(0, 0, .9);
										transform: scale3D(0, 0, .9);
							} 
						}
					}
				}
			}

			#routeSharingTools {
				margin-top: 30px;

				ul {
					li {
						float: right;
						width: 50px;
						margin-right: 5%;
						font-family: 'Montserrat', sans-serif;

						&:first-of-type { 
							float: left;
							margin-left: 0px;
							margin-right: 0px; 
							margin-top: 17px;
							width: 75px;
						}
						&:nth-child(2) { margin-right: 0px; }

						a.route-page-social-icon{
							display: inline-block;
							height: 50px;
							width: 50px;

							@include transition(all .3s ease);

							&:hover { 
								@include transform( scale(0.95) ); 
							}
						}
					}
				}
			}
		}
	}

	#routeList {
		padding-top: 45px;

		div#routeSteps {
			div.route-step {
				overflow: hidden;
				margin-bottom: 30px;

				div.route-step-block { 
					float: left;

					&.route-step-map { 
						width: 20%;
						max-width: 150px;
						background-color: $lightGrey;
						margin-right: 1%;
						border: 1px solid $mediumGrey;
					}

					&.route-step-thumb {
						width: 20%;
						max-width: 150px; 
						margin-right: 2%;
						background-color: $textColor;
					}
					
					&.route-step-info { 
						width: 57%; 

						h2 {
							margin-top: 5px;
							font-size: 20px;

							a { color: $textColor; }
						}
						h5 {
							margin-top: 1px;
							margin-bottom: 4px;
							font-size: 16px;
							text-transform: uppercase;
						}

						div.route-step-category-links {
							a { 
								font-weight: 700;

								&:after { content: ', '; }
								&:last-of-type:after { content: ''; }
							}							
						}

						hr { 
							margin-top: 5px; 
							margin-bottom: 10px; 
						}

						p {
							margin-bottom: 3px;
							&.where { text-transform: uppercase; }
							&.address, &.gps { 
								font-size: 12px;
								margin-bottom: 0px;
							}
						}
					}
				}
			}
		}

		div#routeInfoMapContainer {
			#routeInfoRoute {
				margin-bottom: 90px;

				div.route-info-route-container {
					max-height: 0;
					overflow: hidden;

					@include transition(max-height .3s ease);

					&.expanded { max-height: 5000px; }

					@import './routing';
				}
				
				input[name="routeInfoRouteCustomStart"] {
					margin-top: 30px;
					padding: 12px 15px;
					background-color: white;
					color: $sidebarGrey;
					border: 1px solid $sidebarGrey;
					font-family: 'Montserrat', sans-serif;
					width: 100%;
				}

				#routeInfoRouteCustomStartHints {
					padding: 15px;
					display: none;

					@include border-radius(4px);
					@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
					@include transition(all .3s ease);

					ul { 
						margin-bottom: 0; 

						li {
							a {
								margin-top: 10px;
								display: inline-block;
								width: 100%;
								color: $sidebarGrey;
								font-size: 12px;

								&:after { content: none; }
							}
						}
					}
				}
			}
		}
	}
}