#routeEditor {
	background-color: $textColor;
	height: $collapsedRouteEditorHeight;
	overflow: hidden;

	@include transition(height .3s ease);

	div#routeEditorTitle {
		background-color: white;
		margin-top: 5px;
		height: $routeEditorTitleHeight;

		div#routeEditorTitleIcon {
			height: $routeEditorTitleHeight;
			background-image: url('img/routeEditorTitleIcon.svg');
			background-repeat: no-repeat;
			background-size: 30px 24px;
			background-position: 50%;
		}

		h5 { margin-top: 12px; }

		div#routeEditorCloseIcon {
			height: $routeEditorTitleHeight;
			text-align: center;

			span {
				display: inline-block;
				width: 30px;
    			height: 30px;
    			margin-top: 7px;

				background-image: url('img/routeEditorCloseIcon.svg');
				background-repeat: no-repeat;
				background-size: 15px 15px;
				background-position: 50%;

				@include transition(all .3s ease);

				&:hover {
					cursor: pointer;
					
					@include rotate(180);
				}
			}
		}
	}

	div#routeEditorTools {
		background-color: $lightGrey;
		height: $routeEditorToolsHeight;
		display: none;

		div#routeEditorToolsContainer {
			margin-top: 15px;

			span { 
				text-transform: uppercase; 
				margin-right: 15px;
			}

			input[name="routeEditorRouteCustomStart"] {
				height: 30px;
				margin-right: 15px;
				border: none;
				background-color: white;
				color: $sidebarGrey;
				font-family: 'Montserrat', sans-serif;
				padding: 0 10px;
				min-width: 300px;
			}

			a.route-editor-route-fixed-start {
				color: $textColor;
				border: 1px solid $textColor;
				margin-right: 15px;
				padding: 5px 12px;

				@include border-radius(4px);
				@include transition(all .3s ease);

				&:hover {
					text-decoration: none;
					background-color: $textColor;
					color: $lightGrey;
				}
			}
		}
	}

	div#routeEditorList {
		height: $routeEditorListMaxHeight;

		div#routeEditorListContainer {
			min-height: $routeEditorListMinHeight;
			max-height: $routeEditorListMaxHeight;
			color: white;

			div#routeEditorListRouteTitle {
				width: 100%;
				// height: $routeEditorListRouteTitleHeight;
				margin-top: 30px;
				margin-bottom: 30px;
				border-bottom: 1px solid $sidebarGrey;

				div.input-group {
					margin-bottom: 5px;
					
					input[name="routeName"] {
						background-color: transparent;
						color: white;
						border: none;
						width: 75%;
						font-family: 'Montserrat', sans-serif;
						font-size: 22px;
						// margin-top: 25px;
						padding-left: 0;
						// padding-bottom: 15px;
						// border-bottom: 1px solid $sidebarGrey;
						float: left;

						@include border-radius(0);
						@include transition(all .3s ease);

						&:focus {
							outline: none;
							background-color: rgba(white, 0.05);
							padding-left: 10px;

							box-shadow: none;
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
						}
					}

					a {
						color: $sidebarGrey;
						top: 7px;
						font-size: 12px;
						position: relative;
						width: 20px;
						height: 20px;
						overflow: hidden;
						padding-left: 20px;
						display: inline-block;
						float: right;
						margin-left: 10px;

						&#routeEditorEditRouteName {
							background-image: url(./img/rename.svg);
							background-size: 20px 20px;
							background-repeat: no-repeat;
							background-position: center;
						}

						&#routeEditorSaveRouteName { display: none; }

						&#routeEditorCreateNewRoute {
							background-image: url(./img/new-route-icon.svg);
							background-size: 20px 20px;
							background-repeat: no-repeat;
							background-position: center;
						}

						&#routeEditorDeleteRoute { 
							
							background-image: url(./img/trash.svg);
							background-size: 20px 20px;
							background-repeat: no-repeat;
							background-position: center;

							&.disabled {
								opacity: .5;
								cursor: no-drop;

								&:hover { text-decoration: none; }
							}
						}
					}

					div.input-group-btn {
						button {
							background-color: $textColor;
							color: $sidebarGrey;
							border: none;
							// border: 1px solid $sidebarGrey;
							// width: 20px;
							// height: 20px;

							margin-left: 15px;
							// padding: 4px 20px;

							@include border-radius(0);

							span.caret {
								border-top: 8px dashed;
								border-right: 8px solid transparent;
								border-left: 8px solid transparent;
								position: relative;
								top: -3px;
								left: 5px;
							}
						}

						ul#routeEditorListSelectRoute {
							margin-top: -25px;
							padding: 0;
							border: none;
							background-color: $textColor;

							li {
								height: 30px;
								border: none;

								a.route-editor-switch-route-link {
									margin-top: 0;
									padding: 0 15px;
									display: inline-block;
									width: 100%;
									position: relative;
									top: 0;
									height: 100%;
									line-height: 29px;

									&:hover {
										background-color: rgba(white, 0.05);
									}
								}
							}
						}
					}
				}
			}

			ul#routeEditorSteps {
				max-height: 245px;
				overflow: hidden;
				overflow-y: scroll;
				// padding-right: 30px;

				li {
					height: 60px;
					border-bottom: 1px solid $sidebarGrey;

					span.route-editor-step-tool {
						display: block;
						width: 30px;
						height: 60px;
						float: left;

						@include transition(all .3s ease);

						&.route-editor-step-number {
							color: $sidebarGrey;
							text-align: center;
							line-height: 60px;
						}

						&.remove-route-editor-step {
							background-image: url('img/routeEditorRemoveStepIcon.svg');
							background-repeat: no-repeat;
							background-position: 50%;
							background-size: 10px 10px;
							float: right;

							&:hover {
								opacity: 0.75;
								cursor: pointer;
								@include rotate(180);
							}
						}

						&.reorder-route-editor-step {
							background-image: url('img/routeEditorReorderStepIcon.svg');
							background-repeat: no-repeat;
							background-position: 50%;
							background-size: 10px 15px;
							
							&:hover {
								opacity: 0.75;
								cursor: move;
							}
						}
					}

					span.route-editor-step-info {
						margin-left: 15px;
						display: block;
						height: 50px;
						padding-top: 10px;
						float: left;


						a.route-editor-argument-link { 
							color: white; 
							font-weight: 700;
							max-width: 315px;
							display: inline-block;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						a.route-editor-category-link {
							text-transform: uppercase;
							font-size: 12px;

							&:after { content: ', '; }

							&:last-of-type {
								&:after { content: ''; }
							}
						}
					}

					&.route-editor-download-PDF { 
						border-bottom: none;
						line-height: 60px;
						font-size: 12px;

						a {
							color: $sidebarGrey;

							span.route-editor-download-PDF-icon
							{
								background-image: url('img/routeEditorDownloadPDF.svg');
								background-repeat: no-repeat;
								background-position: 50%;
								background-size: 20px 19px;
								width: 30px;
								height: 30px;
								top: 9px;
								display: inline-block;
								position: relative;
							}
						}
					}
				}
			}
		}

		div#routeEditorListNoRoutes {
			h3 {
				color: white;
				margin-top: 45px;
			}

			div {
				margin-top: 15px;

				a.btn {
					background-color: $textColor;
					color: $sidebarGrey;
					border: 1px solid $sidebarGrey;
					margin-right: 10px;
					padding: 5px 12px;
					font-size: 14px;
					font-weight: 300;
					height: 30px;
					line-height: 1.2em;
					float: left;

					@include transition(opacity .3s ease);

					// &.route-editor-submit-new-route-name {
					// 	background-image: url('img/route-selector-new-route-input-submit.svg');
					// 	background-position: 50%;
					// 	background-repeat: no-repeat;
					// 	background-size: 87.5%;
					// 	margin-left: 10px;
					// 	width: 30px;
					// }

					&:hover { opacity: 0.75; }
				}

				// input[name="routeEditorNewRoute"] {
				// 	height: 30px;
				// 	border: 1px solid $sidebarGrey;
				// 	background-color: $textColor;
				// 	float: left;
				// 	color: white;
				// 	padding: 0 10px;
				// 	font-family: 'Montserrat', sans-serif;
				// 	font-size: 14px;
				// 	font-weight: 300;

				// 	&:focus {
				// 		outline: none;
				// 	}
				// }
			}
		}

		div#routeEditorMapContainer {
			height: $routeEditorListMaxHeight;

			div#routeEditorMap {
				height: 300px;
				margin-top: 25px;
			}

			div#routeEditorMapInfo {
				span { 
					color: $sidebarGrey; 
					font-size: 12px;
					display: inline-block;
					margin-top: 10px;

					&.route-editor-personal-route-duration { font-weight: 700; }
				}

				a {
					color: white;
					text-transform: uppercase;
					font-size: 12px;
				}
			}
		}

		div#routeEditorListSeparator { border-top: 1px solid $sidebarGrey; }

		div#routeEditorListTools { 

			// div#routeEditorListAddStep {
			// 	a {
			// 		color: $oltrepoViolet;
			// 		text-transform: uppercase;
			// 		font-size: 12px;
			// 		margin-top: 30px;
			// 		display: inline-block;

			// 		&:before {
			// 			display: inline-block;
			// 			content: '';
			// 			width: 20px;
			// 			height: 20px;
			// 			background-image: url('img/addToRoutePopoup.svg');
			// 			background-size: 20px 20px;
			// 			background-repeat: no-repeat;
			// 			background-position: 50%;
			// 			margin-right: 10px;
			// 			top: 5px;
			// 			position: relative;
			// 		}
			// 	}
			// }

			div#routeEditorListSaveInApp, div#routeEditorListAddNewRoute {
				margin-bottom: 30px;

				span {
					display: inline-block;
					width: 100%;
					margin-top: 30px;
					color: white;
				}

				a#routeEditorListSaveInAppLink, a#routeEditorCreateNewRoute {
					display: inline-block;
					width: 100%;
					padding: 15px;
					background-color: $oltrepoViolet;
					border: 1px solid $oltrepoViolet;
					color: white;
					text-transform: uppercase;
					text-align: center;
					margin-top: 15px;
					font-family: 'Montserrat', sans-serif;

					@include transition(all .5s ease);

					&:hover {
						text-decoration: none;
						background-color: $textColor;
						color: $oltrepoViolet;

						span { background-position: 50% 100%; }
					}

					span {
						margin-top: 0;
						position: relative;
						left: 5px;
						top: 5px;
						width: 20px;
						height: 20px;
						background-position: 50% 0;
						background-repeat: no-repeat;
						background-size: 20px 40px;

						@include transition(all .3s ease);

						&#routeEditorListAddNewRouteLinkIcon { background-image: url(./img/new-route-icon-white.svg); }
						&#routeEditorListSaveInAppLinkIcon { background-image: url(./img/routeEditorSaveInAppIconMulti.svg); }
					}
				}

				a#routeEditorCreateNewRoute {
					background-color: $textColor;
					color: $oltrepoViolet;

					&:hover {
						color: white;
						border-color: white;
						
						span { background-position: 50% 0%; }
					}

					span { background-position: 50% 100%; }
				}

				div#routeEditorNewRouteInputContainer {
					width: 100%;
					height: 57px;
					border: 1px solid $oltrepoViolet;
					background-color: $textColor;
					color: white;
					margin-top: 15px;
					display: none;

					input[name="routeEditorNewRoute"] {
						background-color: $textColor;
						width: 80%;
						height: 100%;
						padding: 15px;
						border: none;
						font-family: 'Montserrat', sans-serif;
						font-size: 14px;
						font-weight: 300;
						margin-right: 5%;

						&:focus {
							outline: none;
						}
					}

					a.route-editor-submit-new-route-name {
						width: 10%;
						height: 100%;
						float: right;
						border: none;
						border-left: 1px solid $oltrepoViolet;
						cursor: pointer;

						@include border-radius(0);
						@include transition(all .3s ease);

						background-image: url('img/route-selector-new-route-input-submit-violet.svg');
						background-position: 50%;
						background-repeat: no-repeat;
						
						&:hover {
							background-color: $oltrepoViolet;
							background-image: url('img/route-selector-new-route-input-submit-white.svg');
						}
					}
				}
			}
		}
	}

	&.expanded { 
		height: $expandedRouteEditorHeight; 

		div#routeEditorTitle { margin-top: 1px; }
	}
}