#saveInAppModal {
	z-index: -3000;
	width: 100vw;
	height: 100vh;
	background-color: rgba($darkGrey, .75);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;

	@include transition( all .3s ease );
	
	&.on {
		opacity: 1;
		z-index: 3000;

		#saveInAppModalContent {
			@include transform( scale(1) );
		}
	}

	#saveInAppModalContent {
		position: relative;
		width: 60%;
		// max-height: 640px;
		background-color: white;
		color: white;

		@include transition( all .3s ease );
		@include transform( scale(0) );

		h1 { 
			font-size: 28px; 
			padding: 15px 30px;
			color: $textColor;
		}
		
		div#saveInAppModalData {
			display: flex;
			justify-content: space-between;
			padding: 0 30px;
			margin-bottom: 30px;

			div.save-in-app-modal-col { 
				width: 48%;

				&#mockup {
					img.app-mockup { max-height: 520px; }
				}

				&#form {
					form {
						div.form-group {
							div.g-recaptcha {
								margin-bottom: 15px;
								// display: none;

								div { width: 100%!important; }
							}
						}

						button#getRouteCode {
							background-color: $oltrepoViolet;
							color: white;
							font-size: 12px;
							border: 1px solid $oltrepoViolet;
							float: left;

							@include border-radius(0);
							@include transition(all .3s ease);

							&:hover {
								background-color: transparent;
								color: $oltrepoViolet;
							}
							&:focus { outline: none; }
						}

						div#saveInAppModalPreloader {
							float: left;
							background-color: $oltrepoViolet;
							border: 1px solid $oltrepoViolet;
							height: 39px;
							width: 44px;
							display: none;

							.sk-cube-grid {
								width: 20px;
								height: 20px;
								position: relative;
								display: block;
								top: 9px;
								left: 10px;

								.sk-cube {
									width: 33%;
									height: 33%;
									background-color: white;
									float: left;
									-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
											animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;

									&.sk-cube1 {
										-webkit-animation-delay: 0.2s;
												animation-delay: 0.2s;
									}
									&.sk-cube2 {
										-webkit-animation-delay: 0.3s;
												animation-delay: 0.3s;
									}
									&.sk-cube3 {
										-webkit-animation-delay: 0.4s;
												animation-delay: 0.4s;
									}
									&.sk-cube4 {
										-webkit-animation-delay: 0.1s;
												animation-delay: 0.1s;
									}
									&.sk-cube5 {
										-webkit-animation-delay: 0.2s;
												animation-delay: 0.2s;
									}
									&.sk-cube6 {
										-webkit-animation-delay: 0.3s;
												animation-delay: 0.3s;
									}
									&.sk-cube7 {
										-webkit-animation-delay: 0s;
												animation-delay: 0s;
									}
									&.sk-cube8 {
										-webkit-animation-delay: 0.1s;
												animation-delay: 0.1s;
									}
									&.sk-cube9 {
										-webkit-animation-delay: 0.2s;
												animation-delay: 0.2s;
									}
								}
							}
						}
					}
				}

				&#info {
					display: none;

					h6 { 
						color: $textColor; 
						font-weight: 400;
						text-transform: uppercase;
					}

					h1 { 
						padding: 0; 

						span#saveInAppModalRouteID { color: $oltrepoCyan; }
					}

					div#saveInAppModalDownloadApp {
						background-color: $oltrepoViolet;
						padding: 15px;
						position: relative;
						max-height: 500px;

						@include transition(all .3s ease);

						&.collapsed {
							max-height: 45px;
							background-color: transparent;
							padding: 0;

							h1, h3, p { display: none; }

							a { width: 30%; }
						}

						h1 {
							margin-top: 0;
							text-transform: uppercase;
						}

						h3 {
							margin-top: 0;
							font-weight: 700;
							margin-bottom: 15px;
						}

						p { margin-bottom: 15px; }

						a {
							display: inline-block;
							width: 48%;
						}
					}

					div#saveInAppModalShareTools {
						a.save-in-app-share-btn {
							font-size: 12px;
							background-color: $oltrepoViolet;
							color: white;
							border: none;
							// min-width: 65%;
							text-align: left;
							margin-bottom: 10px;
							background-repeat: no-repeat;
							background-position: 95% 50%;
							background-size: 20px 20px;

							@include border-radius(0);

							&#saveInAppModalDownloadPdf {
								background-image: url(img/routePageDownloadPDFIcon.svg);
							}

							&#saveInAppModalViewRoutePage {
								background-image: url(img/routePageViewRouteIcon.svg);
								margin-top: 30px;
							}
						}

						form#routeEditorSendEmailForm {
							div.form-group {
								width: 86%;

								input {
									background-color: transparent;
									border-color: $oltrepoViolet;
									font-family: 'Montserrat', sans-serif;
									color: $oltrepoViolet;
									height: 37px;
									width: 100%;

									@include border-radius(0);

									&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
										color: rgba($oltrepoViolet, .75);
										font-size: 12px;
										font-family: 'Montserrat', sans-serif;
									}

									&::-moz-placeholder { /* Firefox 19+ */
										color: rgba($oltrepoViolet, .75);
										font-size: 12px;
										font-family: 'Montserrat', sans-serif;
									}

									&:-ms-input-placeholder { /* IE 10+ */
										color: rgba($oltrepoViolet, .75);
										font-size: 12px;
										font-family: 'Montserrat', sans-serif;
									}

									&:-moz-placeholder { /* Firefox 18- */
										color: rgba($oltrepoViolet, .75);
										font-size: 12px;
										font-family: 'Montserrat', sans-serif;
									}
								}
							}

							a#saveInAppModalSendByEmail {
								background-image: url(img/routePageSendEmailIcon.svg);
								width: 13%;
								height: 37px;
								background-position: 50%;
								position: relative;
								float: right;

								&.spinning { 
									background-image: none; 

									.sk-cube-grid { display: block; }
								}

								.sk-cube-grid {
									width: 20px;
									height: 13px;
									position: relative;
									top: 6px;
									left: 2px;
									display: none;
								}

								.sk-cube-grid .sk-cube {
									width: 33%;
									height: 33%;
									background-color: white;
									float: left;
									-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
											animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
								}
								.sk-cube-grid .sk-cube1 {
									-webkit-animation-delay: 0.2s;
								    		animation-delay: 0.2s;
								}
								.sk-cube-grid .sk-cube2 {
									-webkit-animation-delay: 0.3s;
								    		animation-delay: 0.3s;
								}
								.sk-cube-grid .sk-cube3 {
									-webkit-animation-delay: 0.4s;
								    		animation-delay: 0.4s;
								}
								.sk-cube-grid .sk-cube4 {
									-webkit-animation-delay: 0.1s;
								    		animation-delay: 0.1s;
								}
								.sk-cube-grid .sk-cube5 {
									-webkit-animation-delay: 0.2s;
											animation-delay: 0.2s;
								}
								.sk-cube-grid .sk-cube6 {
									-webkit-animation-delay: 0.3s;
											animation-delay: 0.3s;
								}
								.sk-cube-grid .sk-cube7 {
									-webkit-animation-delay: 0s;
											animation-delay: 0s;
								}
								.sk-cube-grid .sk-cube8 {
									-webkit-animation-delay: 0.1s;
											animation-delay: 0.1s;
								}
								.sk-cube-grid .sk-cube9 {
									-webkit-animation-delay: 0.2s;
											animation-delay: 0.2s;
								}

								@-webkit-keyframes sk-cubeGridScaleDelay {
									0%, 70%, 100% {
										-webkit-transform: scale3D(.9, .9, .9);
												transform: scale3D(.9, .9, .9);
									} 35% {
										-webkit-transform: scale3D(0, 0, .9);
												transform: scale3D(0, 0, .9); 
										}
									}

								@keyframes sk-cubeGridScaleDelay {
									0%, 70%, 100% {
										-webkit-transform: scale3D(.9, .9, .9);
												transform: scale3D(.9, .9, .9);
									} 35% {
										-webkit-transform: scale3D(0, 0, .9);
												transform: scale3D(0, 0, .9);
									} 
								}
							}
						}

						p#routeEditorFeedbackContainer {
							font-family: 'Montserrat', sans-serif;
							font-size: 10px;
							font-weight: 700;
							padding: 2px 5px;
							margin-top: 10px;

							@include border-radius(2px);
							@include transition(all .3s ease);
						}

						div#saveInAppModalSocialShare {
							color: $textColor;
							margin-top: 30px;

							ul {
								li {
									float: right;
									width: 50px;
									margin-right: 5%;
									font-family: 'Montserrat', sans-serif;

									&:first-of-type { 
										float: left;
										margin-left: 0px;
										margin-right: 0px; 
										margin-top: 17px;
										width: 75px;
									}
									&:nth-child(2) { margin-right: 0px; }

									a.route-page-social-icon{
										display: inline-block;
										height: 50px;
										width: 50px;

										@include transition(all .3s ease);

										&:hover { 
											@include transform( scale(0.95) ); 
										}
									}
								}
							}
						}
					}
				}
			}
		}

		div#saveInAppModalClose {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			background-color: white;

			span.save-in-app-modal-close-icon {
				background-image: url(img/routeEditorCloseIcon.svg);
				background-size: 50%;
				background-repeat: no-repeat;
				background-position: center center;
				display: inline-block;
				width: 30px;
				height: 30px;

				@include transition( all .3s ease );

				&:hover {
					cursor: pointer;
					
					@include rotate(180);
				}
			}
		}
	}
}