#townCoverImg {
	height: $coverImgHeight;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

#townInfo {
	background-color: $textColor;
	color: white;
	position: relative;

	#townDescription {
		position: absolute;
		opacity: 0;
		padding: 15px;
		background-color: white;
		color: $textColor;
		margin-left: 15px;

		p { margin-bottom: 0 }
	}

	h1 { margin-bottom: 20px; }
}

#townMainBody {
	background-color: $lightGrey;

	#townCoverVideo {
		background-color: black;
		margin-top: 30px;
	}

	#townArguments {
		h3 {
			text-transform: uppercase;
			font-size: 16px;
			margin-bottom: 30px;
			margin-top: 33px;
		}

		ul#townArgumentList {
			margin-bottom: 50px;

			li.town-argument {
				width: 100%;
				margin-bottom: 30px;

				div.town-argument-img { 
					div {
						background-repeat: no-repeat;
						background-position: 50%;
						background-size: 75%;
						height: 200px;
					}
				}

				div.town-argument-info {
					min-height: 216px;
					
					h5 { 
						margin-top: 0; 

						a { color: $textColor; }
					}

					a.town-argument-category-link {
						text-transform: uppercase;
						font-weight: 700;
						font-size: 12px;

						&:after { content: ',\00a0'; }
						&.last:after { content: ''; }
					}

					p {
						$font-size: 16px;
						$line-height: 1.425;
						$lines-to-show: 3;

						display: block;
						display: -webkit-box;
						max-width: 400px;
						// height: $font-size*$line-height*$lines-to-show;
						margin: 0 auto;
						font-size: $font-size;
						line-height: $line-height;
						-webkit-line-clamp: $lines-to-show;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					a.town-argument-read-more-link {
						font-family: 'PT Serif', serif;
						font-weight: 700;
						color: #303030;
						font-size: 16px;
					}

					a.town-argument-add-to-route-link {
						display: inline-block;
						width: 100%;
						color: #ac386e;
						text-transform: uppercase;
						font-size: 14px;
						line-height: 40px;
						position: absolute;
						bottom: 0;

						&:before {
							display: inline-block;
							content: '';
							width: 20px;
							height: 20px;
							background-image: url(img/addToRoutePopoup.svg);
							background-size: 20px 20px;
							background-repeat: no-repeat;
							background-position: 50%;
							margin-right: 10px;
							top: 5px;
							position: relative;
						}
					}
				}
			}
		}
	}

	#townSidebar {
		h3 {
			margin-bottom: 30px;
			margin-top: 30px;
		}
		#townSideMap {
			height: 200px;
			margin-bottom: 30px;
		}

		#townRoute {
			margin-bottom: 90px;
			a.town-route-fixed-start {
				color: $mediumGrey;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 700;
				display: inline-block;
				width: 100%;

				&:hover { text-decoration: none; }

				&:after {
					content: '';
					background: url('img/chevron-down.svg');
					background-size: 15px 15px;
					background-position: 50%;
					background-repeat: no-repeat;
					width: 20px;
					height: 20px;
					position: absolute;
					right: 20px;
					margin-top: 2px;
				}
			}

			div.town-route-container {
				max-height: 0;
				overflow: hidden;

				@include transition(max-height .3s ease);

				&.expanded { max-height: 5000px; }

				@import './routing';
			}

			hr { border-color: $sidebarGrey; }

			input[name="townRouteCustomStart"] {
				margin-top: 30px;
				padding: 12px 15px;
				border: none;
				background-color: white;
				color: $sidebarGrey;
				font-family: 'Montserrat', sans-serif;
				width: 100%;
			}

			#townRouteCustomStartHints {
				padding: 15px;
				display: none;

				@include border-radius(4px);
				@include box-shadow(0px, 0px, 50px, rgba($textColor, 0.25));
				@include transition(all .3s ease);

				ul { 
					margin-bottom: 0; 

					li {
						a {
							margin-top: 10px;
							display: inline-block;
							width: 100%;
							color: $sidebarGrey;
							font-size: 12px;

							&:after { content: none; }
						}
					}
				}
			}
		}
	}
}

#townRelatedSliderSection {
	color: $textColor;
	padding: 30px 0;

	h3 { 
		text-align: center; 
		margin-bottom: 20px;
	}

	div#townRelatedSliderContainer {
		width: 100%;
		height: 230px;
		overflow: hidden;
		margin-top: 30px;

		div.town-related-nav {
			height: 206px;
			width: 60px;
			position: absolute;
			background-color: white;
			background-repeat: no-repeat;
			background-size: 15px 30px;

			@include transition(opacity 0.3s ease);

			&:hover {
				cursor: pointer;
			}

			&.visible {
				opacity: 1;
			}

			&#townRelatedSliderNavLeft {
				left: -45px;
				background-image: url('img/chevron-left.svg');
				background-position: 20% 50%;
				display: none;
			}
			&#townRelatedSliderNavRight {
				right: -30px;
				background-image: url('img/chevron-right.svg');
				background-position: 80% 50%;
			}
		}

		div#townRelatedSlider {
			position: relative;
			left: 0;
			
			@include transition(all 0.3s ease);

			div.town-related-card {
				float: left;
				margin-right: 15px;

				div.town-related-card-video {
					height: 100%;
				}

				h6 { margin-bottom: 5px; }

				a {
					color: $textColor;

					&.caption { color: $mediumGrey; }
				}
			}
		}
	}
}